[2014-01-31 21:50] lightsofapollo opened #5 "vbump"
Hey @bubenshchykov mind vbump to 0.1.5 so I can use the upstream for the tcp fixes?

[2014-02-01 12:34] #5 closed, assigned to nobody

[2014-03-26 19:26] kentcdodds opened #9 "Global install of ngrok?"
Would it be possible for this package to install ngrok for me too? It looks like there's no bin. Would love to be able to `npm install -g ngrok`

[2014-03-27 08:20] #9 closed, assigned to nobody

[2014-03-27 12:47] bubenshchykov opened #10 "npm install -g fails on Windows"
npm install ngrok -g
ngrok

i thought it should be fixed by having ngrok.cmd what calls ngrok.exe in bin, but it doesn't work

an option is to have _ngrok.js in bin what just runs a unix-bin or win32-bin via child_process

[2014-05-25 22:55] lightsofapollo opened #13 "Oops.. I broke OSX"
So the `finish` event seems to have some issues on OSX... looks like travis is fine (maybe there is a race?) but it seems like some of the bits are missing on OSX... taking a look now to see what is wrong

[2014-05-26 07:00] #13 closed, assigned to nobody

[2014-06-17 18:57] G33kLabs opened #15 "Postinstall.sh error on OSX : zip url has changed"
Hi !

As I writing a post of ngrok and how to install it, I found your npm wrapper and it's really easy to install by using this way.

But it seems that package url has changed for OSX because you're actually use :
https://dl.ngrok.com/darwin_amd64/ngrok.zip

Whereas [ngrok repo](https://github.com/inconshreveable/ngrok) is pointing to :
https://dl.ngrok.com/darwin_386/ngrok.zip

Thanks for your w

[2014-06-18 16:57] jessefulton opened #16 "Newest ngrok client does not properly close tunnels"
Still trying to track this down, but it appears that the actual ngrok binary in this project is not versioned along with the node module itself and newer versions of the ngrok binary do not properly close when a node process is shut down.

We noticed this because a teammate of mine was running our application and creating a custom subdomain using the ngrok npm module. However, when trying to resta

[2014-06-19 12:29] #15 closed, assigned to nobody

[2014-06-22 14:04] bubenshchykov opened #18 "Create "points of release" for the module"
Right now each time we install the module - it downloads the latest ngrok bin according to the platform. We do it because storying all the bins (9 bins for different platforms and archs) is too much, 150 mb.

It would be still nice to create "points of release", meaning each time we install the ngrok modules it gets a well-tested and locked ngrok binary, example:

https://api.equinox.io/1/Applicat

[2014-06-25 11:36] knalli opened #19 "Install of 0.1.96 fails"
[code]

But it works with `npm install ngrok@0.1.95` which means it is something wrong with the 0.1.96er...

[2014-06-26 08:16] #19 closed, assigned to bubenshchykov

[2014-07-02 07:28] #16 closed, assigned to bubenshchykov

[2014-12-18 10:15] #18 closed, assigned to nobody

[2015-02-06 18:59] rscottfree opened #21 "install fails with self-signed cert"
I'm behind a corporate proxy that rewrites SSL certs, and the post install script that downloads the ngrok zip file fails with a self-signed cert error. Can we change this list of URLs to use http instead of https?

I don't use ngrok directly, but the latest RC of the browser-sync npm package has a dependency on it, and the browser-sync install fails because of of this self-signed cert error with

[2015-02-07 11:37] bubenshchykov commented on #21
Sad to hear that - I'll look into it and let you know

[2015-02-10 12:25] bubenshchykov commented on #21
@rscottfree i can't use http because of security concerns
I suggest u either create a small http fork of ngrok and use it in browser-sync

or

we can support ngrok options in package.json of consumers, eg
[code]

[2015-02-10 16:16] rscottfree commented on #21
@bubenshchykov I understand the security concerns. For now it's working to just use a fork where I have set everything to http. Thanks for looking into it.

[2015-02-10 16:16] #21 closed

[2015-03-03 21:49] wernight opened #23 "Tunnel to non-localhost IP"
Ngrok supports [Forwarding to non-local services](https://ngrok.com/docs) but it seems that this package doesn't support that yet. Would be useful to support it.

[2015-03-03 22:04] wernight commented on #23
Ok it's possible via:

    ngrok.connect({port: '192.168.0.1:80'}, function(...) {});

I'd add this to the README.

[2015-03-04 00:40] bubenshchykov commented on #23
thx, this module supports basic ngrok features - and I'm trying to add more by any request

a nicer api for non-local tunnels could be
```ngrok.connect({host: '192.168.0.1:80}', function(..){})```  or
```ngrok.connect({ip: '192.168.0.1', port:80}, function(..){})``` etc  - but just updating readme is fine for now :)

[2015-03-04 08:34] wernight commented on #23
Given the official CLI just takes that as first parameter, I'd suggest to mimic. You first line sounds good. For the full object version, given you pass it to the CLI, I'd be more inclined towards the second line, even though it's less clean. What's the argument name it `ngork --help` for that first argument?

[2015-03-04 21:17] #23 closed

[2015-03-04 21:18] bubenshchykov commented on #23
good arguments, thx, agree!

[2015-03-07 15:35] vvo opened #24 "download is failing"
Receiving `ETIMEDOUT` while trying to use node-ngrok, seems like we cannot download it anymore.

[2015-03-07 17:53] bubenshchykov commented on #24
shit, it's because ngrog 2.0 pre-release.. i'll take care of it asap and let u know. thx man!

[2015-03-08 10:46] bubenshchykov commented on #24
@vvo download seems to be back to the previous speed, no timeouts - do u still have problem installing the module?

[2015-03-09 21:02] bubenshchykov commented on #24
@vvo can't repro, closing the issue for now. I'll be able to help if problem happens again :)

[2015-03-09 21:02] #24 closed

[2015-03-09 21:02] vvo commented on #24
Sorry, thanks a lot for fixing this, it works :)

[2015-04-17 03:28] gavinengel opened #25 "ngrok 2.0?"
When will the npm use ngrok 2?

[2015-04-17 12:54] bubenshchykov commented on #25
right now in progress :) i think I'll push ngrok 2.0 today-tomor' with the same feature set today
and then will be slowly adding new 2.0 features. anything specific u expect?

[2015-04-22 02:44] gavinengel commented on #25
Cool.  I like the performance changes, so I was looking forward to the npm project being updated.  Thanks!

[2015-04-22 02:44] #25 closed

[2015-04-22 06:18] bubenshchykov commented on #25
I'm waiting for another bugfix in ngrok shell, and then will publish master with 2.0 support for npm. Friday or so, sorry for the delay )

[2015-04-24 05:12] gavinengel commented on #25
I guess what I'm most interested in is the custom domains.  It seems to me that ngrok version 1.x uses domain ngrok.com, whereas version 2.x uses ngrok.io.

[2015-04-24 07:47] bubenshchykov commented on #25
module with ngrok 2.x is still not published to npm, waits for a fix pls. could u pls explain what's wrong with ngrok.io tunnels ?

[2015-04-25 05:06] gavinengel commented on #25
I'm just confused with the whole setup at this point :-(  I'm trying to use a custom/reserved domain: helloworld.engeldev.com.  Would you recommend I use ngrok 1 or 2?

[2015-04-25 08:52] bubenshchykov commented on #25
For now please use ngrok 1, as ngrok 2 is not yet released
ngrok 2 will have the same api, no breaking changes

all u need is
[code]

[2015-04-26 02:32] gavinengel commented on #25
OK I'll use ngrok 1 for the next couple weeks.  Thanks!

[2015-04-27 21:46] attiks opened #27 "ngrok 2.0 token"
I played with the 2.0 branch and it works great, only thing is you need a token.

Can you add to the readme that people can install the token using

[code]
or
[code]

it will save the token in a yml file, that gets included automatically, so you no longer need to specify the token inside the nodejs file, avoiding it might get committed.

[2015-04-28 17:47] bubenshchykov commented on #27
@attiks good point, I'll update the readme when I'm about to publish 2.0 to npm. currently I'm waiting for one ngrok fix, it comes in a week or two. till that I actually recommend using latest version published on npm, it's stable and great too :)

[2015-04-28 18:22] attiks commented on #27
The problem is I need to be able to use ```host_header``` and it didn't worked with the latest npm version, unless I missed something.

Out of curiosity, what is the problem with ngrox 2, it is working great

[2015-04-29 04:23] bubenshchykov commented on #27
ngrok on npm uses 1.x version, it will be 2.0 in few weeks

current master of node wrapper for ngrok uses ngrok 2.0, actively uses ngrok 2.0 api for speed wins. the bug is that ngrok 2.0 designed we a thought that api use requires authtoken. it's a bug and Allan (ngrok owner) will fix it. The tests of master branch with ngrok 2.0 are green  only because of this hack
https://github.com/bubenshchyko

[2015-04-30 02:10] cardoni commented on #27
:+1:

[2015-05-28 14:21] SteveNewhouse opened #28 "Readme shows "addr" as port option name, but should be "port""
"addr" did not work for me, but "port" did.

[2015-05-28 15:16] SteveNewhouse opened #29 "Can't get callback from connect"
Hello there--- I'm new to ngrok and struggling to get the connection set up properly.  Here's my connect call, the callback is never invoked and I get no error:

	ngrok.connect(config.ngrok, function(err, url) {
		console.log(err);
	});

Here's the config.ngrok object, note that even if I use a simpler connect call with no opts object, just a port, it still doesn't work:

	ngrok: {
		proto: 'http'

[2015-05-28 15:50] SteveNewhouse opened #30 "'npm install ngrok' installs v1.7, not v2.x"

[2015-05-28 16:56] bubenshchykov commented on #30
yes, current master waits for ngrok fix and is not pushed to npm yet, please rely on current npm readme
https://www.npmjs.com/package/ngrok

2.x will be pushed asap, but fix can come in a week or even two (

[2015-05-28 16:56] #30 closed

[2015-05-28 16:58] bubenshchykov commented on #29
I guess you are using ngrok from npm, it still has old version 1.x and bind_tls is not supported yet
as well as web_addr. Please follow the readme here - it shows the right set of options supported
https://www.npmjs.com/package/ngrok

[2015-05-28 16:59] bubenshchykov commented on #28
https://www.npmjs.com/package/ngrok this readme is relevant, it's for ngrok 1.x
master is not pushed to npm yet and has a different readme, different ngrok 2.x options support

[2015-05-28 16:59] #28 closed

[2015-06-01 21:53] jonathankeebler commented on #29
@bubenshchykov It still doesn't work with that config.

@SteveNewhouse The only thing I could do to get it working was to delete ~/.ngrok and
[code]

[2015-06-01 21:56] SteveNewhouse commented on #29
It appeared to be related to the fact that I had generated auth tokens for
v2 and did not remove them when I went back to v1?

On Mon, Jun 1, 2015 at 5:53 PM, Jonathan Keebler <notifications@github.com>
wrote:

[2015-06-02 15:37] bubenshchykov commented on #29
exactly, sorry for that. it was written on official ngrok site, that authtokens for v1 has nothing to do with v2 and vise versa. i hope i'll be able to push 2.0 soon to avoid all this confusion.

[2015-06-02 15:37] #29 closed

[2015-06-26 20:20] TrySound commented on #27
Hi, @bubenshchykov! Any news?

[2015-08-04 18:24] BrandonZacharie commented on #27
+1

[2015-08-06 17:14] bubenshchykov commented on #27
@inconshreveable Hi Alan! Is authtoken still required for ngrok api use?

[2015-08-11 15:13] achingbrain commented on #27
Could you not release it with a major version bump?  Semver says that indicates a non-backwards compatible change..

[2015-08-12 03:31] BrandonZacharie commented on #27
+1

[2015-08-19 08:43] inconshreveable commented on #27
Still working on this. :( Sorry for the insanely long delay here.

[2015-08-28 15:35] bubenshchykov opened #33 "make ngrok 2 authtoken optional for basic functionality"
currently node wrapper requires authtoken to be passed because of a tricky ngrok bug described here https://github.com/bubenshchykov/ngrok/issues/27#issuecomment-97299907
basically we just waiting for a fix

[2015-08-28 15:37] bubenshchykov commented on #27
guys I've published to ngrok@0.2.0 to npm and it uses latest ngrok 2. better later than never :)

also added info about mandatory authtoken to description and made a separate issue to make authtoken optional like it is in ngrok@0.1.99 https://github.com/bubenshchykov/ngrok/issues/33

[2015-08-28 15:37] #27 closed

[2015-08-28 18:28] TrySound commented on #27
@bubenshchykov Yupee!

[2015-08-29 16:05] fiws opened #34 "complains about set subdomain"
[code]

even though I did not set any subdomain.

[2015-08-30 10:00] bubenshchykov commented on #34
@fiws sorry for that, I'll see what I can do today. meanwhile u can use ngrok@0.1.99 - it uses ngrok 1 and doesn't require an authtoken at all

@inconshreveable I guess it's the same issue we discussed before. when making a tunnel through api requires a "name" as a tunnel ID, same time treats it as a custom subdomain and thus requires a paid subscription. Am I correct? Is name still required for a

[2015-08-31 12:27] vvo commented on #34
Also seeing this as an issue

[2015-09-03 23:23] cristiandouce opened #35 "Post install script is failing (sometimes) for v0.1.x"
[code]

Notice the: `[Error: Could not find the End of Central Directory Record]`

[2015-09-04 02:41] bubenshchykov commented on #35
worked for me a minute ago, please try again - could be a random glitch on ngrok hosting

[code]

[2015-09-04 03:07] cristiandouce commented on #35
@bubenshchykov version?
Look at the log:

[2015-09-05 15:16] bubenshchykov commented on #35
@cristiandouce
0.1.98 uses ngrok1 bins - the seems to be removed :(
@inconshreveable are ngrok1 bins officially removed an no more supported?

[2015-09-12 21:08] abrkn commented on #34
:+1:

[2015-09-17 22:06] andrewwakeling commented on #35
I'm currently hitting this issue with the api.equinox.io URL on 0.1.99.

[2015-09-17 22:08] inconshreveable commented on #35
The v1 bins are still available and haven't gone anywhere. They're all still supported. Do you have problems even if you try to download them directly: https://ngrok.com/download/1 (i've seen some networks where admins have taken to blocking everything about ngrok very explicitly)

[2015-09-17 22:15] andrewwakeling commented on #35
Thanks. It looks I might be experiencing some network issues on my end.

[2015-09-18 13:49] bubenshchykov commented on #35
@andrewwakeling could you please confirm that all is good? so we can maybe just close the issue :)

[2015-09-18 14:09] cristiandouce commented on #35
The issue is that sometimes the binaries for v1 from api.equinox.io are unreachable to download. Therefore the postinstall script fails.
That is independently from the network since I've tried it from my local machine and a CI in use-east and another in us-west :smile:
Right now it works, but it like I said... it fails from time to time.

Is it possible to move those binaries to somewhere else?

[2015-09-20 10:12] bubenshchykov commented on #35
the binaries belong to @inconshreveable :)

[2015-09-20 16:58] cristiandouce commented on #35
:boom: yet, like I said, the api.equinox.io enpoint to the binaries times out from time to time.

[2015-09-21 06:20] bubenshchykov commented on #35
@cristiandouce I understand. I think I heard about 10 times about api.equinox.io instability. I checked the download urls and they are correct (compared to https://ngrok.com/download/1). I don't think @inconshreveable  wants to move old ngrok1 bins to other hosting, so what I can do is to make a fork "ngrok-old" and add some retry (let's say 5 imes) for postinstall fetch.

Also "ngrok-old" could b

[2015-09-21 07:26] inconshreveable commented on #35
I'd be okay moving ngrok older binaries to a different place since they're unlikely to change anymore. I've also resolved an issue that was causing download instability from equinox.io (and all of that infrastructure is getting updated soon as well)

[2015-09-24 00:14] bubenshchykov commented on #35
@cristiandouce when was the last time post-install failed for you?

[2015-09-24 04:05] cristiandouce commented on #35
@bubenshchykov week ago on my CI :cry:

[2015-09-24 14:13] bubenshchykov commented on #35
Let's close the ticket then as it might be already fixed. I would rather focus on ngrok 2 and make it good. Cheers!

[2015-09-24 16:38] cristiandouce commented on #35
:+1: +1 for ngrok 2 focus :smile:

[2015-09-24 16:38] cristiandouce commented on #35
Thanks for the assistance!

[2015-10-21 03:30] shavo007 opened #39 "Post install script is failing (sometimes) for v0.1.x"
Error when I run  npm install grunt-psi --save-dev on windows 8.

[code]

Is this a proxy issue or an issue with the module?

Regards,
Shane.

[2015-10-28 21:57] sebpiq commented on #34
Same issue here :(

[2015-10-31 20:38] lejeunerenard commented on #34
:+1:

[2015-11-02 09:27] elchiconube opened #40 "Help with grunt"
Hi! I want to integrate this on grunt but i don't know how. ¿Anyone can help me or give me some url with documentation? Thanks

[2015-11-10 00:58] liabru commented on #34
+1

[2015-11-10 03:28] bubenshchykov commented on #40
Hi, sorry for a late reply!
Are you looking for something like that? https://www.npmjs.com/package/grunt-ngrok :)

[2015-11-10 13:31] henninghorn commented on #34
You can use ngrok-my-server:
- https://github.com/lightsofapollo/ngrok-my-server

That module works and it seems to be using this module - I'm not sure.

[2015-11-10 13:32] fiws commented on #34
@henninghorn probably because it uses 0.1.x (`"ngrok": "~0.1.8"`)

[2015-11-11 08:21] elchiconube commented on #40
Yai! Thanks but this project it's working with a Ngrok V1 and it's not working :(

[2015-11-12 11:03] bubenshchykov commented on #40
I never tried grunt-ngrok, shared it just as a reference for you on how to integrate ngrok into grunt..
And yes the options are a bit different in ngrok 2 and they are described in readme https://github.com/bubenshchykov/ngrok/blob/master/README.md#options ;)

[2015-11-17 11:13] bubenshchykov commented on #39
Hi, I saw two similar issues - one because of some corporate proxies and second most popular is because of bins hosting instability. Are you still unable to install it?

[2015-11-17 11:14] bubenshchykov commented on #40
Closing the issue as it's nothing to do with the module. I hope you managed to make grunt integration working, should not be different from any other use cases!

[2015-11-17 11:14] #40 closed

[2015-11-17 11:43] shavo007 commented on #39
Hi.

I move to a mac so I cant say!! Windows was just a pain for installing many node modules.

[2015-11-21 00:07] loadedsith opened #41 "Install doesnt work because ngrok.com server is down"
ngrok.com in a browser and in the npm install script both throw "ERR_CONNECTION_RESET", thus the install fails.

[2015-11-23 04:46] jamen opened #42 "Ngrok thinks I'm using custom sub domains?"
[code]

When using `ngrok.connect` with the correct token, I recieve this error.  I'm not setting `subdomain` in the options either.

[2015-11-23 04:49] jamen commented on #42
Whoops, duplicate issue.

[2015-11-23 04:49] #42 closed

[2015-11-24 21:38] #41 closed

[2015-11-28 14:16] bubenshchykov commented on #39
good choice :)

[2015-11-28 14:16] #39 closed

[2015-12-03 10:23] mlemainque commented on #34
We also have that problem :-1:

[2015-12-29 13:50] esteban-uo opened #43 "Error while lunching"
Just today I started getting this error, Is this an expected one?

"there was an error while lunching ngrok: Error: panic: runtime error: invalid memory address or nil pointer dereference

github.com/inconshreveable/olive/recover.go:40
runtime/asm_amd64.s:403
reflect/value.go:419
reflect/value.go:296
github.com/codegangsta/inject/inject.go:102
<autogenerated>:30
<autogenerated>:132
github.com/inco

[2016-01-05 17:08] artemsvirskyi commented on #10
I have the same issue on windows

[2016-01-06 10:30] bubenshchykov commented on #43
@inconshreveable the first time it gives go errors :)

[2016-01-12 15:34] spacedawwwg commented on #34
Same issue here. Reverted back to v1.x for the time being

[2016-01-14 10:47] bubenshchykov commented on #34
@spacedawwwg you did right, it's also recommended in readme to use 0.1.x
the latest version on npm still awaits a critical fix from native go ngrok, @inconshreveable will let us know
sorry for inconveniences!

[2016-01-15 17:32] BenjaminConant commented on #34
same issue ... followed the instructions on the ngrok npm module ...

[code]

getting

[code]

[2016-01-15 17:48] BenjaminConant commented on #34
@henninghorn thanks for the tip!

[2016-01-16 00:28] jesperbruunhansen commented on #42
@jamen - I have the exact same problem, where did you find the solution/duplicate question?

[2016-01-17 20:29] bubenshchykov commented on #33
dup with #13

[2016-01-17 20:29] #33 closed

[2016-01-17 20:31] bubenshchykov commented on #43
@esteban-uo is it a permanent error you still have?

[2016-01-18 07:49] esteban-uo commented on #43
hi @bubenshchykov, not really, but it happens randomly and not too often

[2016-01-21 15:45] bubenshchykov commented on #43
ok let's keep it here for some time - in case @inconshreveable notices it and pushes some go fix :)

[2016-01-22 08:55] marcofugaro commented on #10
Yup, same problem in windows too, how do I solve this?

[2016-01-22 09:07] bubenshchykov commented on #10
@artemsvirskyi @marcofugaro if you guys use ngrok as executable outside the node - you better use it directly https://ngrok.com/download

but would be nice if some of you tries to create a proper windows wrapper, with .cmd file or so - as I have mac only. http://stackoverflow.com/questions/29955217/global-npm-package-installed-but-command-not-found

[2016-01-22 11:44] marcofugaro commented on #10
@artemsvirskyi yeah I managed to make it work by downloading the `ngrok.exe`, but yet again it wouldn't run in my git bash and I don't know why, it doesn't output anything when I type `./ngrok.exe http 80`, so had to run it from the windows command line...

I just want to use it anywhere by typing `ngrok http 80`, it used to work on my other machine when I installed it globally with node, now it h

[2016-01-29 13:06] nkzawa opened #44 "npm install fails on Windows 7 Pro"
We got an issue report about the error. I'm not sure, but guess Windows is not supported?

Please see https://github.com/socketio/engine.io/issues/379

[2016-01-30 01:50] bubenshchykov commented on #44
ngrok should work for windows
postinstall script checks the current platform and fetches corresponding ngrok bins
I only saw it failing few times because bins hosting was temporary was not responsive

@vicneanschi
is it a permanent issue?
which os?  ```console.log(require('os').platform(), require('os').arch())```

[2016-01-30 04:53] vicneanschi commented on #44
It's permanent issue for me

win32 x64
undefined

[2016-01-30 17:23] bubenshchykov commented on #44
@vicneanschi let's see if some Windows guy volunteers to debug it and fix, as unfortunately I have no time and will to install VM

meanwhile, try to install it with highest loglevel ```npm install -ddd``` and share the result
also, have you tried installing it via latest npm? ```npm install npm@3.6.0```

[2016-01-31 19:23] bubenshchykov commented on #10
installing it globally from npm has been tested and works for linux machines, but was never working for windows. this .cdm thing doesn't work, i'm not sure why, maybe smth from with paths or so

i'll reopen the issue and wait for winodws volunteers

[2016-01-31 19:27] bubenshchykov commented on #43
ideally this ticked should be submitted to ngrok original github, but the problem is that ngrok 2.0 has not been open sourced yet. https://github.com/inconshreveable/ngrok#ngrok-20

i still suggest you submit a ticket there, as it fails inside the go code.. i'll keep it open here to for a month too.

sorry for that!

[2016-01-31 19:29] inconshreveable commented on #43
Yep, this is a known bug in ngrok, and shouldn't be open here.

[2016-01-31 21:16] #43 closed

[2016-02-08 20:18] jrios commented on #44
Are you behind a firewall that is preventing https traffic? I'm running into a similar issue on my machine with both the mac and windows installers using npm. I think that the culprit might be the https.get call in the postinstall script.

here's my node versions: node v4.2.2 and npm v3.7.2. We have had this trouble before where I work where node scripts and post installs have problems getting tra

[2016-02-08 22:31] vicneanschi commented on #44
I've tested with npm@3.7.1
Here is the [npm log](https://gist.github.com/vicneanschi/803df58c3fe2f0523f36)

[2016-02-09 04:02] bubenshchykov commented on #44
@vicneanschi
try to remove node_modules and cache ```npm cache clean```
also, try to install ngrok directly ```npm install ngrok``` - to localize the issue

[2016-02-09 04:05] vicneanschi commented on #44
that was actually a log of a direct install without node_modules.

[2016-02-10 13:11] bubenshchykov commented on #44
it should work. i was using it on 0.10.28 (osx), and there are integration tests for
[code]

i'll get windows machine in few hours and let you know

[2016-02-10 15:45] bubenshchykov commented on #44
tried windows, no luck reproducing an issue yet.
i just tried  ```npm cache clean && npm install ngrok``` on:
node: 0.10.33
npm: 3.7.1
platform: win32
arch: ia32 (you have x64, but I don't think it that matters here)

google an error from your log "Error: EPERM, rename .. node-uuid'" - some people say smart things about file descriptors or locks... for some node upgrade helped, if that's an option

[2016-03-01 17:50] danieldafoe commented on #34
Just so others viewing this are aware, the best workaround (for now) is indeed to change your entry for ngrok in your package.json to ```"ngrok": "~0.1.8"``` and then do an ```npm install``` in your project main directory again.

[2016-03-01 18:45] bubenshchykov commented on #34
thanks @danieldafoe
0.1.99 is also recommended on readme

status update on the issue itself:
- week ago ngrok owner promised to prepare bins with a fix for the root cause of this bug
- ngrok owner also notified about plans to drop support for ngrok 1 (corresponds to ~0.1.x on npm) in the end of a spring

as soon as we receive a new ngrok bins, this bug will fixed and covered by tests. thanks for p

[2016-03-11 23:49] #34 closed

[2016-03-12 00:09] bubenshchykov commented on #42
try now, should be fixed :)

[2016-03-12 00:25] bubenshchykov commented on #34
guys, pls try 2.1.1 - issue should be fixed.
and covered by tests https://travis-ci.org/bubenshchykov/ngrok/jobs/115454650#L224-L314

[2016-03-12 14:32] bubenshchykov commented on #44
can you try the latest ngrok 2.1.5 ? it has major fixes and different node_modules tree, so it might fix your  case too

[2016-03-14 09:13] bubenshchykov commented on #44
Assuming it's fixed in latest ngrok (2.1.6) and closing :)
Feel free to re-open in case of any problems.

[2016-03-14 09:13] #44 closed

[2016-03-27 21:40] bubenshchykov commented on #10
the issue has been here for quite a while with no volonteers to fix, closing as not popular

[2016-03-27 21:40] #10 closed

[2016-05-18 22:48] nojiek opened #54 "ngrok.disconnect not closing http tunnel (only https)"
When two tunnels are opened simultaneously (`bind_tls: both` (this is default)), ngrok fails to close both tunnels when using the disconnect command.

Steps to Reproduce:

[code]
Results in:
Error Message: null
Ngrok URL: https://030927d2.ngrok.io
Port: 3599

**This opens TWO tunnels: one at http and one at https**

[code]
Results:
URL: https://030927d2.ngrok.io has been killed.
{ [Error: socket h

[2016-05-21 01:02] bubenshchykov commented on #54
hey @nojiek, great catch! :)

[2016-05-23 16:41] vinceis1337 commented on #54
Hello @bubenshchykov - I work with @nojiek and we have a workaround. We just wanted to let you know about the problem. Thanks!

[2016-05-23 19:53] nojiek commented on #54
@bubenshchykov Thanks! Our work around is to just to not use "both" for now.

[2016-06-14 17:44] #54 closed

[2016-06-14 17:46] bubenshchykov commented on #54
fixed, see test inside commit ;)

if you create default bind_tls=true tunnel and get let's say https://123.ngrok.io - then you can
- either close both tunnels in two calls: ngrok.disconnect('https://123.ngrok.io'); ngrok.disconnect('http://123.ngrok.io')
- or close all tunells ngrok.disconnect() - but now it tracks and closes http tunnel too
- or kill entire process by ngrok.kill()

[2016-07-08 17:18] gaieges opened #56 "Missing ngrok binary doesn't clearly fail"
Trying to set the authtoken without working ngrok binary results in a message of:

[code]

Would be helpful to have a more clear message saying the binary doesnt exist.  Not sure if this happens elsewhere, but if it does, the message would be helpful there too.

[2016-07-10 12:57] bubenshchykov commented on #56
Hi, makes sense! You are welcome to PR better error handling ;)
I'm personally more interested in "missing ngrok" problem. If ngrok binary can't be downloaded or unpacked - npm install should fail with an error message about it. How did you get module installed but binary missing?

[2016-07-10 14:29] gaieges commented on #56
Consider the case where you package up an app for a different architecture than the one you’re currently running on: Your node_modules directory consists of the bin for the current architecture, but the destination system doesn't have a local binary that works with it’s architecture, or needs to nave the ```npm install -g``` on it.

Another way to solve this would be allow selections of what types

[2016-07-11 15:07] bubenshchykov commented on #56
@gaieges i think the normal practice is to build (package) your app on machine which is 1:1 (platform and arch) with your prod machine, that applies to other npm modules too - and then distribute this build to your prod instances. that what heroku and other node clouds do.

i'm really interested what your build process is?

[2016-07-11 15:18] gaieges commented on #56
At the moment it's a jenkins job in AWS packaging the tool up into a deb using grunt.

Agree with the general approach, but the intent is to put it on a armv7l box, which is where my problem comes in.  AFAIK, that's not something that AWS provides.  I could always get a Scaleway account but don't want to go through the hassle.

It'd be easiest to just include the binaries in the package (and tag i

[2016-07-12 05:41] bubenshchykov commented on #56
Got it :) At the beginning, I had all ngrok bins stored in a repo. But it made npm install taking too long, and then bins are always changing - so people asked for downloading only 1 bin during install. Like eg phantomjs or webdriver do.

Your solution works, it might be also nice if we support NGROK_BIN_PROVISIONED=true env var, so npm install does not download anything, and instead checks if bin

[2016-07-12 14:09] gaieges commented on #56
Would be cool to see something like NODE_NGROK_INSTALL_ARCH=x86_64,armv7l or something.  But not too big of a concern.  What do you think?

For sure!  Appreciated chatting with you as well.  If the current deploy process annoys me enough I'll spend some time on what we discussed.

[2016-07-15 05:38] bubenshchykov commented on #56
will smth like that help? :)
https://github.com/bubenshchykov/ngrok/pull/57/files

[2016-07-15 14:20] gaieges commented on #56
Sure will! That's great, thanks @bubenshchykov !

[2016-07-17 14:34] bubenshchykov commented on #56
on npm, v2.2.2 ;)

[2016-07-17 14:34] #56 closed

[2016-08-07 15:03] jdalton opened #58 "global postinstall script fail on Windows 10 Bash"
I'm hitting this issue on Windows 10 Bash.

[code]

[npm-debug.log.txt](https://github.com/bubenshchykov/ngrok/files/405559/npm-debug.log.txt)

[2016-08-07 16:16] bubenshchykov commented on #58
hi man! as a quick test, can you try  it with latest npm (3.10.5) ```npm i -g npm```
i see that your environment is a bit out of date :)
[code]

[2016-08-07 17:20] jdalton commented on #58
Cool! I'm using the current lts release of node with an npm from this June. Its v2 but not out of date. The ngrok install works fine globally on Windows 10. Bash on Win10 is Ubuntu.

[2016-08-07 20:02] jdalton commented on #58
Ok so I thought I saw it complete once. Here's the complete install:
[code]
after than though `which ngrok` will report `/home/jdalton/.nvm/versions/node/v4.4.7/bin/ngrok`
but executing it is a noop it just goes back to bash.

[2016-08-07 20:02] jdalton commented on #58
Is there some prerequisites that could be missing?

[2016-08-07 20:05] jdalton commented on #58
It noops on npm v3 too.

[2016-08-08 05:56] bubenshchykov commented on #58
No prerequisites..
For global install the flow is simple
- postinstall downloads proper ngrok bin and puts it to bin folder (./ngrok/bin executable)
- then package.json has this default ```"bin": {"ngrok": "./bin/ngrok"}``` which does this npm linking magic

Nothing really more..

There might be something wrong with timing of things: bin/ngrok is available only after postinstall, but npm symlinkin

[2016-08-15 20:21] Carpetfizz opened #60 "ngrok fails to start in Windows 10 Bash"
Hi,

I'm trying to use ngrok in Windows 10 Bash and I'm running into an issue. Nothing happens when I type in ngrok. Same thing occurs when I use the ngrok build from the official website.

Thanks for any information.

[2016-08-16 01:38] bubenshchykov commented on #60
Hi, thanks for reporting! I think it's a duplicate of https://github.com/bubenshchykov/ngrok/issues/58 - could you please share few details there

[2016-08-16 01:38] #60 closed

[2016-08-16 01:38] bubenshchykov commented on #58
@inconshreveable Alan people say ngrok is not working on Windows 10 bash, even if downloaded directly ngrok.com (#60)

[2016-08-19 18:55] inconshreveable commented on #58
Thanks @bubenshchykov! I've had a few reports of this as well, it's a known issue. Win10 bash is still in beta and ngrok doesn't officially support it yet. I'll try to get an environment up asap and figure out what's going on.

[2016-08-30 22:46] madhavc opened #61 "Randomly ngrok stops working for me."
I am noticing that sometimes ngrok stops working for me. Any help? Here are the logs I have obtained

[code]

[code]

[2016-08-31 02:48] bubenshchykov commented on #61
thx, are you creating multiple tunnels? share few more details, please
also os, node and npm version

[2016-08-31 02:50] bubenshchykov commented on #61
there is a bunch of specs testing various ngrok tunenls, they are stable and green
https://travis-ci.org/bubenshchykov/ngrok/jobs/150537893

so I'm wondering if it's some specific order of tunnel actions or maybe platform-related bug

[2016-09-21 09:28] alexbuijs opened #62 "ngrok 2.1.1 and sierra"
I get some go-martini errors with ngrok 2.1.1 and OS X Sierra. Version 2.1.14 seems to do better. Please update to new ngrok version in postinstall hook.

[2016-09-22 16:26] inconshreveable commented on #62
all fixes are mainstreamed and the latest version works on sierra. apologies on the lack of notification!

[2016-09-22 16:27] bubenshchykov commented on #62
cool I'm switching to bins from ngrok site then if all tests are passing, better later than never :)

[2016-09-22 17:53] #62 closed

[2016-09-22 17:56] bubenshchykov commented on #62
@alexbuijs thx, issue fixed - try latest!

[2016-09-22 18:01] bubenshchykov commented on #61
might be fixed already, try latest
closing this one due to lack of details, feel free to open new one in case of problems!

[2016-09-22 18:01] #61 closed

[2016-09-22 19:24] alexbuijs commented on #62
Thanks, great work!

[2016-11-24 15:02] Kurara opened #66 "Error when "sniffing" an iphone or ipad."
I have a problem that I'm trying to resolve (but I still don't know how you compile your code) in order to understand why my program is failing. When ngrok try to show me the error it fails, because MessageParts length is 0 and there is not a verificatin of this:

TypeError: undefined is not an object (evaluating 'messageParts[0].toString')

Line:

Console.prototype._generic = function(level, mess

[2016-11-24 16:05] Kurara commented on #66
Ok, my problem was dataPipe of angular. I don't know if that helps to understand why messageParts was null or size 0. I finally got to change the js code and write "no message" if messagePart[0] was null and I could see the details of the error.

Difference of error: [http://pasteboard.co/1QiBx9nyb.jpg](url)

[2016-11-24 23:51] bubenshchykov commented on #66
hey, you sure you submit an issue to the right repo? :)
ngrok is not supposed to work in browser, neither I recognize posted pieces of code )

[2016-11-25 08:33] Kurara commented on #66
I'm using ngrok to help debugging a web application in ipad as chrome developer tools are not able in tablet. I was looking for a solution to debug it and I found this plugin in internet. I'm using also weinre but weinre doesn't work with https so I add your ngrok. Maybe you are correct and it's a weinre problem. Sorry U-_- You can even delete the issue, it's for weinre. I'll post it on weinre. Th

[2016-11-27 12:16] bubenshchykov commented on #66
Thanks a lot for submitting an issue, glad we figured it out!

[2016-11-27 12:16] #66 closed

[2016-12-02 15:43] lyzs90 commented on #10
you can create a .bash_profile in your HOME directory and then add the path to your ngrok.exe
[code]
add the relative path to your ngrok bin directory to the PATH variable: `PATH=$PATH:~/AppData/roaming/npm/node_modules/ngrok/bin`

now you should be able to run ngrok anywhere using `ngrok.exe`

[2016-12-20 23:26] damoncasale opened #67 "ngrok not installing correctly in Win < 10"
The global install creates an ngrok file that looks like this:

"$basedir/node_modules/ngrok/bin/ngrok"   "$@"
exit $?

That doesn't work.  I manually edited the file to look like this:

#!/bin/sh
basedir=$(dirname "$(echo "$0" | sed -e 's,\\,/,g')")
"$basedir/node_modules/ngrok/bin/ngrok.exe"   "$@"
exit $?

Then it works.

[2016-12-21 06:16] bubenshchykov commented on #67
hi, thx for submitting an issue!

unfortunately global install was never working for windows, and nobody could submit a pull request before https://github.com/bubenshchykov/ngrok/issues/10

let's see if windows heroes show up now :)

[2017-01-08 19:08] coolstudykik opened #68 "ngrok issue on my mac"
Hi,

I  have tried many times to install ngrok but got this error.

ngrok - downloading binary https://bin.equinox.io/a/bZszyrZZM3G/ngrok-2.1.1-darwin-amd64.zip ...
stream.js:74
      throw er; // Unhandled stream error in pipe.
      ^

Error: getaddrinfo ENOTFOUND bin.equinox.io bin.equinox.io:443
    at errnoException (dns.js:28:10)
    at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:76:

[2017-01-08 19:08] #68 closed

[2017-01-11 14:13] jcarpe opened #69 "Error unpacking binary Error: Could not find the End of Central Directory Record"
When I try to install ngrok (`npm i -g ngrok`), the following error is thrown:
[code]
This leads me to believe the the file that is downloaded to be unpacked is corrupt or it had not actually completed download prior to unpacking?

Node: v6.9.4
Npm: v4.0.5

[2017-01-11 14:20] jcarpe commented on #69
Actually, when I lock the npm version at 2.2.4 (as oppossed to ^2.2.4), everything installs fine.

[2017-01-14 16:45] pociej opened #70 "Cant found tunnel created by node package ."
Everytime im creating tunnel using node package
i get the proper url no error. But when im trying to call this tunnel
i see Tunnel {id}.ngrok.io not found .

[2017-01-15 23:50] bubenshchykov commented on #70
Tunnel gets closed when you close your node process. Is it your case?

[2017-01-16 13:25] pociej commented on #70
Im closing node process but before that im spawning new process and in this child process
im creating ngrok tunnel .

[2017-01-17 23:45] bubenshchykov commented on #70
do you use {detached: true} in this child process? otherwise if will be closed (and thus ngok tunnel) when parent process exits
https://nodejs.org/api/child_process.html#child_process_options_detached

[2017-01-21 01:19] keithws opened #72 "ngrok web UI url"
I know the web UI for ngrok is _usually_ http://127.0.0.1:4040, but that can be changed with the `web_addr` configuration option. Is there a way to get that value via this node wrapper?

[2017-01-22 11:32] bubenshchykov commented on #72
at the moment, the only way to get or set web_addr is to use ngrok configuration file.
any configuration stored in ngrok.yml should be picked up and respected by this node wrapper

[2017-01-23 03:10] faizaanceg commented on #72
[This line](https://github.com/bubenshchykov/ngrok/blob/master/index.js#L94) does exactly that. There is no way to extract it though.

[2017-01-26 23:55] bubenshchykov commented on #72
merged, thx guys!

[2017-01-26 23:55] #72 closed

[2017-02-07 21:06] keithws opened #74 "failed to start tunnel error"
While working with this wrapper, I routinely get this vague error (from line 148 in index.js) instead of the actual error from Ngrok. Can this be improved?

[2017-02-07 23:03] keithws commented on #74
Nevermind, I see that the error object you return has additional properties from the body object including the err.details.err property with more descriptive details of the error.

[2017-02-07 23:03] #74 closed

[2017-02-10 17:51] mica16 commented on #69
Hi,
Any solutions on this ?
bin.equinox.io bin.equinox.io seems to be down ?

[code]

[2017-02-12 02:19] bubenshchykov commented on #69
@inconshreveable hi! :)
was is it a temporary equinox glitch?

[2017-02-13 06:54] inconshreveable commented on #69
hiya! yeah looks like it was just a temporary failure of some sort:

[code]

[2017-02-13 13:46] bubenshchykov commented on #69
works fine for me too
[code]

[2017-03-15 12:16] bubenshchykov commented on #70
Closing issue for now. Feel free to re-open if {detached: true} doesn't help ;)

[2017-03-15 12:16] #70 closed

[2017-03-15 12:16] #69 closed

[2017-03-21 23:55] chee commented on #69
this is happening to me now. the url it's trying to hit is https://api.equinox.io/1/Applications/ap_pJSFC5wQYkAyI0FIVwKYs9h1hW/Updates/Asset/ngrok.zip?channel=stable&os=linux&arch=amd64 , which gives me a 401

[2017-03-22 06:08] bubenshchykov commented on #69
Hi, try latest version. The link should start with
https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-..
https://github.com/bubenshchykov/ngrok/blob/master/postinstall.js#L6

ср, 22 бер. 2017 о 06:55 chee <notifications@github.com> пише:

[2017-03-28 03:54] scinos opened #75 "Error 'failed to deserialize request parameter'"
When running ngrok with

[code]
The callback contains the error 'Error: failed to deserialise request parameter'. Debugging it seems to come from a 400 response when making a POST request to /api/tunnels.

The equivalent CLI command (`ngrok http --region au 3000`), it works as expected.

[2017-03-28 06:09] bubenshchykov commented on #75
thanks, that's something new. works fine on mac os, but fails on linux
@inconshreveable could it be something changed in ngrok internal api (eg request parsing) recently?

[2017-03-28 06:23] scinos commented on #75
For me it fails in osx too.
It was something that broke today, it was working fine ~7h hours ago.

[2017-03-28 06:29] bubenshchykov commented on #75
ahh true! i'm checking module dependencies updates, but it can also be a ngrok bin autoupdate (@inconshreveable might help)

[2017-03-28 06:31] inconshreveable commented on #75
@bubenshchykov this changed: https://ngrok.com/docs#compat-2.2 but i didn't expect it to break anything since it never actually worked in the first place

[2017-03-28 06:43] bubenshchykov commented on #75
hmm I should be using application/json only, will check that

[2017-03-28 06:53] inconshreveable commented on #75
@bubenshchykov looks like something wrong in the latest ngrok release with the client API, i'm rolling back, sorry about this.

[2017-03-28 07:34] bubenshchykov commented on #75
works again, thanks all! :)

[2017-03-28 07:50] inconshreveable commented on #75
Release 2.2.2 is out with a bugfix for this. ping me here if there's any trouble with that version

[2017-03-28 07:57] bubenshchykov commented on #75
I set up a daily test run with 38 specs testing different ngrok options and tunnels, all green :)
https://travis-ci.org/bubenshchykov/ngrok

[2017-03-28 07:57] #75 closed

[2017-03-28 08:15] scinos commented on #75
Works great now.
Than you both for fixing this so soon, and for this amazing software 🥇

[2017-04-25 21:43] edwmurph opened #76 "Hangs when trying to use config "web_addr: false""
I put the config file in the default location (~/.ngrok2/ngrok.yml) and verified that I can change the network address (ex. "web_addr: localhost:5050" works as expected). However when I try to disable the web UI ("web_addr: false"), ngrok just hangs until it eventually closes probably due to some timeout somewhere.

[2017-04-26 01:16] bubenshchykov commented on #76
Hi, nice catch! web_addrs:false is not supported at the moment. The module needs this ngrok internal api (runs on same port as ngrok ui) to create and manage each new tunnel, and ngrok process is spawned only once to start the ngrok api.

There is an option to spawn ngrok each time tunnel is created, so we can stop relying on ngrok api. But I have tried that already and it was slow and buggy. I pr

[2017-04-26 14:39] edwmurph commented on #76
It'd be nice if it just closed when given "web_addr: false" instead of hanging but yes I think people would at least appreciate a note in the readme.

[2017-04-28 05:01] bubenshchykov commented on #76
@edwmurph makes sense, will add it today

[2017-04-28 13:31] #76 closed

[2017-05-25 10:29] buwaneka1 opened #79 "ngrock@0.1.99 postinstall failing in windows"
npm ERR! Windows_NT 10.0.14393
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install"
npm ERR! node v6.10.3
npm ERR! npm  v3.10.10
npm ERR! code ELIFECYCLE

npm ERR! ngrok@0.1.99 postinstall: `node ./postinstall.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the ngrok@0.1.99 postinstall script 'node ./postinstall.js'.
n

[2017-05-26 03:49] #79 closed

[2017-05-26 03:49] buwaneka1 commented on #79
the issue was with the version o ngrok, it worked for the latest version

[2017-06-19 14:08] doriel commented on #67
I have the same issue...

[2017-07-05 07:07] refazul-refat commented on #35
I think postinstall still fails one out of five times. This is what i had to do in a deploy script:

`npm install --save --ignore-scripts`
`curl -o ngrok.zip https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip`
`unzip ngrok.zip`
`rm node_modules/ngrok/bin/ngrok`
`cp ngrok node_modules/ngrok/bin/ngrok`

[2017-07-05 12:19] gaoqiankun opened #83 "Why we need download ngrok binary file every time after install npm package?"
Hi, I found that ngrok binary file will be downloaded every time I install package use yarn。
How about save `ngrok.zip` file to `home` directory, and reuse it?

[2017-07-05 13:34] bubenshchykov commented on #35
thanks for letting me know! that has something to do with equinox.io. I will add automatic retries to post-install script, let's see if it helps

[2017-07-05 13:36] bubenshchykov commented on #83
That would be a nice improvement! You'r welcome to submit a PR, I'm happy to review and accept it fast :)

[2017-07-06 23:59] inconshreveable commented on #35
we just fixed a race condition in the asset downloading code of equinox last night. it's very likely that this could have been the cause of the errors. just an fyi!

[2017-07-07 09:17] #35 closed

[2017-07-09 21:35] bubenshchykov commented on #83
fixed by amazing #85

[2017-07-09 21:35] #83 closed

[2017-07-22 19:37] TKOBabu opened #87 "Issue with Global Install of Ngrok in Linux With NPM"
### Issue that arises.
Done with Arch Linux using npm version 5.3.0 with Linux Kernel 4.11.5-1-ARCH
[code]

Content from Log File about the error

[code]

[2017-07-22 22:19] bubenshchykov commented on #87
thx for reporting!
it looks like it's a regression of previous pr
https://github.com/bubenshchykov/ngrok/pull/85/files#diff-551007241ae61889b0f85f47aa764343R106

@gaoqiankun ```var tempFile = path.join(os.tmpdir(), 'ngrok.zip'); var outputStream = fs.createWriteStream(tempFile);``` - do you see some permission problem and maybe a workaround here?

I can quickly add outputStream.on('error') handler

[2017-07-22 22:37] TKOBabu commented on #87
Hi,

No problem. I am working on a project right now, but I should be done with it in 3-ish hours. If you want and have not solved it by then, I can take a look and see if I can resolve it and will add a pull request if I do.

[2017-07-25 03:35] gaoqiankun commented on #87
@TKOBabu
I have tried `sudo npm i -g ngrok` on `archlinux`, but i got a lot package not found error
e.g.
[code]
[code]
But, ngrok does not depend on these packages.
Then, i install ngrok on ubuntu by `sudo npm i -g ngrok` and  on cygwin by`npm i -g ngrok`, it works fine.
[code]
I don't think creating read/write stream will cause permission problem, and I never use archlinux before, can you give me

[2017-07-25 08:51] bubenshchykov commented on #87
@gaoqiankun @TKOBabu thanks for investigation!
I tried global install on mac only, with and without cached bin - both cases worked fine.
can you try to bump npm and install ngrok again ```npm i npm -g``` ?

[2017-07-26 02:52] gaoqiankun commented on #87
@bubenshchykov
`sudo npm i -g npm` works successfuly, but when i run `npm --version`, it throw error
[code]
Then i tried `sudo npm i -g typescript`, it works fine
[code]
Then `sudo npm i -g node-sass`,  and i got *permission* error
[code]
So, it may be a bug of npm on archlinux.

[2017-07-26 09:00] bubenshchykov commented on #87
please try ``` sudo chown -R $(whoami) $(npm config get prefix)/{lib/node_modules,bin,share}``` as npm suggests https://docs.npmjs.com/getting-started/fixing-npm-permissions

[2017-08-08 09:18] akshay194 opened #88 "Unable to install in ubuntu 14.04"
I tried installing it in Ubuntu 14.04 but it does not work, please help.
[code]

[2017-08-08 10:04] bubenshchykov commented on #88
boooo (
 404 https://registry.npmjs.org/types/node - can it be an npm glitch
Anyway, I updated ngrok on npm 20 seconds ago, can you try latest please

[2017-08-08 10:08] bubenshchykov commented on #88
..if it doesn't help, try to update npm to latest ```npm i npm -g```
if that doesn't help neither, try to update node, if possible

[2017-08-08 11:01] akshay194 commented on #88
Tried after update, getting this:
[code]
Node and npm version:
[code]

[2017-08-08 11:17] bubenshchykov commented on #88
Yep, that's still unsolved :(
duplicate of https://github.com/bubenshchykov/ngrok/issues/87
can you try ```sudo chown -R $(whoami) $(npm config get prefix)/{lib/node_modules,bin,share}``` as npm suggests https://docs.npmjs.com/getting-started/fixing-npm-permissions

[2017-08-08 11:19] bubenshchykov commented on #88
@gaoqiankun another report. do you have an idea what's wrong with permissions here?

[2017-08-09 07:36] gaoqiankun commented on #88
I tried reproduce this issue, after many times failure, i finally reproduce it successfuly
[code]

I still can not undestand, why this happened, so I tried install an old version that before my code merged, then I got same problem, the only dirrerence is you catch the error, ant print it

[code]

I suppose that it is npm‘s `protecting mechanism`, so i viewed npm source code, and find it
[code]

**

[2017-08-09 10:32] bubenshchykov commented on #88
@gaoqiankun thx a lot for investigation!

[2017-08-12 10:09] miquelbeltran commented on #88
Don't do `sudo chown -R $(whoami) $(npm config get prefix)/{lib/node_modules,bin,share}` as it might change the owner of everything inside `/usr/bin`, including `sudo` and you won't be able to repair the error without a full reinstall. This happens because `npm config get prefix` can be `/usr`

[2017-08-22 11:15] slavikshen commented on #67
The global install is also not working on Mac.
post install script error

[2017-08-22 11:17] slavikshen opened #89 "NPM global install fails on Mac"
There is an error in the post installation.
BTW, yarn can install it.

sudo npm install -g ngrok/usr/local/bin/ngrok -> /usr/local/lib/node_modules/ngrok/bin/ngrok

ngrok - downloading binary https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-darwin-amd64.zip
events.js:160
      throw er; // Unhandled 'error' event
      ^

Error: EACCES: permission denied, open '/usr/local/lib/node_modules/ngrok/n

[2017-08-22 11:43] bubenshchykov commented on #89
thx @slavikshen , a possible duplicate of #88
hopefully, we'll fix it soon with @gaoqiankun

[2017-08-23 21:55] bubenshchykov commented on #88
might be fixed in 2.2.19, @akshay194 can you try again?

[2017-08-23 21:55] bubenshchykov commented on #89
might be fixed in 2.2.19, @slavikshen can you try again?

[2017-08-23 21:57] bubenshchykov commented on #87
@TKOBabu might be fixed in latest version, can you try?
if issue still happens, pls report in #88 - there was a discussion there

[2017-08-23 21:57] #87 closed

[2017-08-23 21:58] #89 closed

[2017-08-26 16:36] bubenshchykov commented on #88
should be fixed! feel free to re-open in needed

[2017-08-26 16:36] #88 closed

[2017-09-10 09:40] bubenshchykov commented on #67
@slavikshen  mac issue fixed

[2017-10-04 11:22] passboltUser opened #92 "Exit ngrok when there's nothing to sync"
Hello,
ngrok is used in `https://github.com/xybu/onedrived-dev`. What would be nice is if ngrok would exit if there's nothing to sync / if everything is synched. My Microsoft accounts get suspended and I think that's because too many requests are done to the Microsoft account. I'm not sure if ngrok can see when everything is synched completely or if it just provides a tunnel.

[2017-10-05 14:18] bubenshchykov commented on #92
Hi, the responsibility of ngrok module is to create and stop tunnels, nothing else. Onedrived-dev can use ngrok api and close tunnels (or exit ngrok) any time it wants :) Please, create this issue there

[2017-10-05 14:19] #92 closed

[2017-10-06 06:17] passboltUser commented on #92
Ok, thanks. Did that: https://github.com/xybu/onedrived-dev/issues/69

[2017-10-18 13:05] ashokkumar24 opened #94 "Ngrok always reconnecting"
I have installed `npm install ngrok` with version 2.2.8. Then I ran `ngrok http 8080`, I am getting the following error.
<img width="630" alt="screen shot 2017-10-18 at 6 32 20 pm" src="https://user-images.githubusercontent.com/19908047/31720039-0959a0fe-b433-11e7-88b8-8620cf7c4adc.png">

[2017-10-18 21:50] bubenshchykov commented on #94
@inconshreveable hi Alan, is it a known issue?

[2017-10-18 21:56] inconshreveable commented on #94
almost guaranteed to be a network/middlebox blocking ngrok

[2017-10-19 12:44] bubenshchykov commented on #94
@ashokkumar24 can you confirm?

[2017-10-23 08:52] #94 closed

[2017-11-17 03:36] joshuaalpuerto commented on #35
Hi all,

My build is failing because of this error.

<img width="886" alt="screen shot 2017-11-17 at 11 34 19 am" src="https://user-images.githubusercontent.com/7126484/32928113-5ecdecb0-cb8b-11e7-99b7-560540c6eab6.png">

When I tried to visit the link: [https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip](https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip) Im getting

[2017-11-17 03:53] milankragujevic opened #95 "bin.equinox.io is down"
Show Heroku error, is preventing me from download ngrok for Linux 64bit.

![2017-11-17_045043](https://user-images.githubusercontent.com/7611163/32928647-3fe238a2-cb53-11e7-85c8-256dc06c707c.jpg)

[2017-11-17 04:18] joshuaalpuerto commented on #35
I was able to download the file now and my build is working again.

[2017-11-17 07:00] mayacode commented on #69
So I experience it now... any hint?

[code]

[2017-11-17 07:36] bubenshchykov commented on #69
Looks like equinox hosting issue. As a quick solution, you can host ngrok
binary yourself and set NGROK_CDN_URL env var before npm install. I will
look into issue later today too
On Fri, Nov 17, 2017 at 9:00 AM Maja Miarecki <notifications@github.com>
wrote:

[2017-11-17 07:39] bubenshchykov commented on #35
Hi! Looks like a temporary equinox hosting issue. If that happens again,
you can host a needed ngrok binary yourself, and set NGROK_CDN_URL env var
before npm install. I will look into issue later today too, at least it
needs a better error message :)
On Fri, Nov 17, 2017 at 6:18 AM Joshua Alpuerto <notifications@github.com>
wrote:

[2017-11-17 07:58] bubenshchykov commented on #95
Hi, equinox guys have just confirmed that asset downloading issue is fixed. Please try again
Also, you can host ngrok
binary yourself and set NGROK_CDN_URL env var before npm install

[2017-11-20 00:02] bubenshchykov commented on #95
feel free to reopen if the issue comes back, we might discuss a possibility to roll out alternative hosting

[2017-11-20 00:02] #95 closed

[2017-11-21 18:12] damnhipster opened #96 "Stop using ~/.ngrok as a reliable location"
The `postinstall` script tries to download the relevant binary to the `~/.ngrok` location. Instead, I feel this should use the local `./node_modules` directory in which the npm module gets installed to.

That way, the module does not need to access the users home directory and make any modifications. There's less of an impact for damage to be done, and means that the installation process is less r

[2017-11-22 09:51] bubenshchykov commented on #96
Hi, the process is next: we download binary, and then extract it. Extracted binary is always saved to ```./node_modules/ngrok/bin``` folder

As for download, previously we were using ```./node_modules/ngrok/bin``` for binary download too.
Recently we switched download to ```~/.ngrok```, so it can be used as a cache for multiple installs, to avoid downloading binary each time.
If there are problems

[2017-11-22 12:47] rapito commented on #43
@esteban-uo did you ever got around this issue, I get it every time now

[2017-11-22 12:58] bubenshchykov commented on #43
@rapito @esteban-uo if the issue is still there, feel free to open an issue with platform details here - it should bring more attention :)

[2017-11-22 16:23] damnhipster commented on #96
You should be able to make use of the npm cache for things like this.

Here's a [suggestion](https://github.com/npm/npm/issues/7029#issuecomment-68354982) of how to go about doing it. It does mean that you have to turn the binaries into a package.

[2017-11-22 17:14] bubenshchykov commented on #96
That's an awesome suggestion!

I'm not sure if npm tries to fetch package content even if its package.json has OS/Arch restrictions. If it does, fetching all 10 bins during npm install won't be fun :) If npm is smart and checks dependency's package.json before downloading its content, then we can do it:

Pros
- npm install won't be dependent on external binary hosting at all. Yaaai!!!

Cons
- it h

[2017-11-22 17:29] damnhipster commented on #96
You can use the **[os](https://docs.npmjs.com/files/package.json#os)** property to manage the OS restriction.

In terms of managing multiple binary packages, you could use [lerna](https://github.com/lerna/lerna) to manage it.

[2017-11-22 22:48] bubenshchykov opened #98 "Avoid fetching ngrok bins from equinox - host them as npm modules"
- host bins as separate platform-dependent npm modules (package.json os restriction)
- specify them as optionalDependencies in main ngrok module
- in postinstall make sure that one and only one sub-module is installed according to os

https://stackoverflow.com/questions/15176082/npm-package-json-os-specific-dependency/26069595#26069595

[2017-11-22 22:49] bubenshchykov commented on #96
awesome, I like it! thx for the hints - I moved it to separate issue https://github.com/bubenshchykov/ngrok/issues/98

[2017-11-22 22:49] #96 closed

[2017-11-23 12:49] 87pancakes opened #99 "Ngrok is really slow"
I have ngrok installed spare Mac that has a MAMP installation but the sites are really slow to load; some resources don't even load at all or partially.

Is this a limitation of the free plan?
Is there something wrong with ngroks sever or is it a local issue?

[2017-11-23 16:15] bubenshchykov commented on #99
cc @inconshreveable

[2017-11-24 23:35] bubenshchykov commented on #99
@87pancakes I run a static website with node.js with a free ngrok tunnel - works fast with all the assets!

Did you try to specify ngrok region closest to you?

[2017-11-25 08:10] cimocimocimo commented on #35
Happening again, looks like when the script tries to download this file:
https://api.equinox.io/1/Applications/ap_pJSFC5wQYkAyI0FIVwKYs9h1hW/Updates/Asset/ngrok.zip?channel=stable&os=darwin&arch=amd64

it get's this error from equinox:
`{
  "errors": [
    {
      "message": "Requests to this resource require authentication. No authorization token was present in the request. You must send a valid

[2017-11-25 14:30] bubenshchykov commented on #35
hi @inconshreveable, pls help

[2017-11-25 22:19] cimocimocimo commented on #35
Just a thought, but could this be an issue with Equinox.io? Perhaps they are blocking access through this url:
https://api.equinox.io/1/Applications/ap_pJSFC5wQYkAyI0FIVwKYs9h1hW/Updates/Asset/ngrok.zip?channel=stable&os=darwin&arch=amd64

But it looks like this working url might fetch the same file but with a different format:
https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-darwin-amd64.zip

[2017-11-25 22:22] bubenshchykov commented on #35
@cimocimocimo I guess you are using an old module version
all bins are hosted on https://bin.equinox.io/..  https://github.com/bubenshchykov/ngrok/blob/master/postinstall.js#L8
Get the latest ngrok@2.2.24 and let me know :)

[2017-11-26 00:54] cimocimocimo commented on #35
Ok, I'm sorry. Seems I had two repos on my HD (long story). I was running yarn in one and changing the version numbers in the other directory. Got that straightened out and now everything is working perfectly. Thank you for for your time!

[2017-11-28 09:12] bubenshchykov commented on #99
@87pancakes if you experience the slowness, write contact@ngrok.com, they might help
closing this issue for now, as there is nothing else I can help with :)
feel free to re-open if needed!

[2017-11-28 09:12] #99 closed

[2017-11-28 09:26] toverux commented on #99
This issue is not in the good repo anyway, I'm sure that @87pancakes doesn't even uses the npm module.

@bubenshchykov Why not renaming the repo to "node-ngrok" as per the conventions? With the repo name and the image at the top of the readme, it really looks like the official ngrok repo at a first glance.

[2017-11-28 09:31] bubenshchykov commented on #99
@toverux great suggestion! I'll think about the options

[2017-12-19 20:45] hgezim opened #100 "error: unhandled promise rejection Error: panic: runtime error: invalid memory address or nil pointer dereference"
I'm on Mac OS 10.12.6 (16G1036) with node v9.3.0 and npm 5.6.0 with ngrok 2.2.22.

I'm getting this error intermittently:

Full trace:

[code]

[2017-12-19 23:38] bubenshchykov commented on #100
@inconshreveable do you recognize this error? can it be an old issue when we try to create tunnel when ngrok is not yet ready?

[2017-12-20 15:37] inconshreveable commented on #100
there is no version of ngrok 2.2.22. the latest version is 2.2.8?

[2017-12-20 16:10] bubenshchykov commented on #100
It’s a version of node module :) i believe the version of ngrok is latest
On Wed, Dec 20, 2017 at 5:37 PM Alan Shreve <notifications@github.com>
wrote:

[2017-12-20 18:56] hgezim commented on #100
That's correct, I'm on ngrok 2.2.8 but the node module is at 2.2.22.

[2017-12-22 09:02] bubenshchykov commented on #100
@inconshreveable to remind how module works
- we start ngrok with "start --none --log=stdout"
- we wait for ngrok message "starting web service.*addr=(\d+\.\d+\.\d+\.\d+:\d+)"
- we then immediately use internal ngrok api to create tunnels
- if ngrok returns status 500 with "... panic ..." or 502 with "tunnel session not ready yet", then we wait 200ms, and retry POSTing tunnel again (100 retries ma

[2017-12-22 09:05] jwickens commented on #100
Maybe slightly different issue, but I solved this issue by installing request (rather than relying on the one one specified in dependencies). Going through the logs and the code the above error was expected however for some reason request-promise was somehow being loaded in my project, which throws errors on non 200 requests. Adding request to the package.json provided the correct request library

[2017-12-22 09:11] bubenshchykov commented on #100
@jwickens wow that looks like a super-weird npm glitch :)
[code]
- that should install https://github.com/request/request with no surprises

[2017-12-23 14:40] jwickens commented on #100
@bubenshchykov yeah i saw that you had request as a dependency. It might have to do with the fact that I'm using Yarn workspaces which is an experimental feature.

[2017-12-28 14:30] aborovsky opened #101 "[Question] How to run multiple tunnels simultaneously?"
I've tried the topic in 2 ways.

First one.

[code]
tunnel for port 22 fails to start, but 80 works.

Second one.

`ngrok.yml` created with content:
[code]

start ngrok:
[code]
and `listenerFunc` doesn't work, it's never called.

Ho to properly run few tunnels with ngrok simulataneously?

[2017-12-29 22:00] bubenshchykov commented on #101
1) tcp tunnels are not available without signing up at ngrok.com. You should get an error message ```json
{ err: 'TCP tunnels are only available after you sign up.\nSign up at: https://ngrok.com/signup\n\nIf you have already signed up, make sure your authtoken is installed.\nYour authtoken is available on your dashboard: https://dashboard.ngrok.com\n\nERR_NGROK_302\n' }```

2) the proper syntax wi

[2018-01-02 16:32] aborovsky commented on #101
Great, thank you very much @bubenshchykov for reply!

[2018-01-02 16:32] #101 closed

[2018-01-02 22:13] bubenshchykov commented on #100
@hgezim finally got time to help
I can't reproduce it yet, so can you help me with few questions
- do you create one or many tunnels per node process?
- do you get this error immediately, or after some time? (all the retries in total take around 20 sec)
- what tunnel are you trying to create? (tcp, http, custom subdomain)

[2018-01-04 16:56] jwickens commented on #100
Hey guys even though i was able to get it running with the workaround i mentioned above i was still getting request-promise printing errors whenever that expected 502/500 was thrown. I got fed up and rewrote the wrapper to use request-promise-native and classes and im no longer getting this error.

Here's a gist: https://gist.github.com/jwickens/0a6dc0655f756d01d01f7057537b057b

I have some questi

[2018-01-04 17:26] bubenshchykov commented on #100
@jwickens great job, new code looks great  :)
I still don't see a clear connection between your request-related problem and issue reported originally.. were you at least getting the same error message?

[2018-01-04 19:20] jwickens commented on #100
I agree it unclear if its the same bug. If @hgezim could answer your questions that would help. The stack traces i was getting were exactly the same except it was being thrown from `request-promise-core` rather than ngrok.

[2018-01-04 19:37] bubenshchykov commented on #100
Great! Let’s wait for @hgezim. Meanwhile, feel free to submit your PR, as
its code looks cleaner and nicer - i’ll review it, run test suite (needs
hidden authtokens) and accept it then :)
On Thu, Jan 4, 2018 at 9:26 PM Jonathan R Wickens <notifications@github.com>
wrote:

[2018-01-09 21:56] igorsky78 opened #103 "Error unpacking binary Error: Could not find the End of Central Directory Record"
When I try to run npm install, the following error is thrown:

C:\Users\username\Documents\Visual Studio 2017\Projects\ProjectName\ProjectName.Web\ClientApp>npm install

ngrok - Downloading newest binary...
ngrok - Zipfile received (https://api.equinox.io/1/Applications/ap_pJSFC5wQYkAyI0FIVwKYs9h1hW/Updates/Asset/ngrok.zip?os=windows&arch=amd64&channel=stable) ...
Error: Could not find the End of

[2018-01-09 23:21] bubenshchykov commented on #103
hi, the module's version is too old (0.1.98), try latest 2.2.24 ;)

[2018-01-11 21:30] bubenshchykov commented on #103
i guess everyth is fine, feel free to reopen if else :)

[2018-01-11 21:30] #103 closed

[2018-01-16 22:50] dobesv opened #104 "Reset state if ngrok exits"
If `ngrok` exits with some kind of error (for example, `you are already running as many ngrok processes as you are allowed to`) then calling `connect()` again just results in an error that it can't talk to ngrok on port 4040.  It never tries to restart `ngrok`.  It would be nice if in the `ngrok.on('close', ...)` it would set `api = null` so that a future `connect` call will re-run `ngrok`.

[2018-01-16 23:32] dobesv opened #105 "Running test suite deletes ngrok config"
I was going to see if I could make a little patch and I ran the test suite. Much to my surprise, it deleted my actual `ngrok` config, with no warning or backup.  This is kind of ... impolite ?

[2018-01-17 19:06] bubenshchykov commented on #105
@dobesv thanks for reporting that and sorry for problems caused - I never thought about this case before. will fix when time permits, or feel free to submit your pr

[2018-01-17 19:09] bubenshchykov commented on #104
Makes sense. We can reset it (re-spawn ngrok) in case of error AND if there are no active tunnels running. Otherwise resetting ngrok will kill active tunnels.

[2018-01-18 07:05] dobesv commented on #104
@bubenshchykov My contention here is actually what to do if ngrok exits on its own for whatever reason.  Maybe there's an outage at ngrok HQ or I killed it myself using the command line.  In that case this library can detect that `ngrok` has exited and at least try to start it again if I call `connect`.  Currently if ngrok dies on its own, then calling `connect` returns an error that it cannot con

[2018-01-18 07:10] dobesv commented on #104
I think what I can do to workaround this might be:

[code]

Since I think if I run `ngrok.kill()` I can use `connect()` again afterwards.

[2018-01-18 07:13] dobesv commented on #104
Actually no, that doesn't work.

You see, in `kill()` it waits for `ngrok.on('exit', ...)`.  However, since ngrok has already exited, that event does not fire.  Thus calling `ngrok.kill()` if `ngrok` has already quit does not reset `api = null` as would be needed to have `ngrok` restart on the next `connect`.

I think the event handler for `ngrok.on('exit', ...)` should be moved up into the `runNg

[2018-01-18 09:15] #104 closed

[2018-01-18 09:16] bubenshchykov commented on #104
Makes sense! I pushed an update to npm

[2018-01-20 01:17] #105 closed

[2018-01-20 01:18] bubenshchykov commented on #105
Fixed. Unfortunately, I haven't found a way to omit rewriting/killing ngrok config
But at least now test suite ensures that it is restored after test run (even if process crashes)

[2018-01-29 23:42] cvalenzuela opened #106 "ngrok and electron"
I'm not sure if this issue is specific to this package, but it's worth to give it a try:

I made an [electron app](https://github.com/cvalenzuela/carbon) that uses ngrok to create a server with a sharable url. Everything works fine, but when I package the application for production, ngrok is the only package that does not get exported to the final app. Any ideas on what might be not working?

[Her

[2018-01-30 13:05] bubenshchykov commented on #106
I haven't played with electron yet, but take a look at similar issues ("electron module not found in prod"), there might be some clues
https://github.com/electron-userland/electron-packager/issues/217
https://github.com/electron-userland/electron-packager/issues/652
https://github.com/SimulatedGREG/electron-vue/issues/204

This module is pretty simple. One thing to note is that it downloads an ngr

[2018-01-30 17:37] cvalenzuela commented on #106
thanks for the reply!

It seems it has something to do with the spawning process. Here a the error I get on triggering ngrok  from the production app:
[code]

The `node_modules/ngrok/bin/` is copied into the final app.

ideas? I'm not sure how to debug this

[2018-01-30 17:54] cvalenzuela commented on #106
So I figure this out:

When using electron, ngrok get's copied to `app.asar.unpacked` instead of to `app.asar` so in
[this line](https://github.com/bubenshchykov/ngrok/blob/master/index.js#L111):

[code]
`__dirname` refers to `../app.asar/bin` instead of `../app.asar.unpacked/bin` which triggers the error. I managed to solve it by adding this quick fix line to the ngrok package:

[code]

I'm not s

[2018-01-30 21:10] bubenshchykov commented on #106
Happy to see you solved it, great job!

I think we have two options two make it work for all - either to somehow
detect electron environment and substitute the path for binary (magic)  OR
to introduce a custom path option like binPath (for .connect method) or
NGROK_BIN_PATH global env var. Plus little readme section for electron
folks :)

What would you prefer? Feel free to submit PR! ;)

On Tue,

[2018-01-31 04:48] cvalenzuela commented on #106
I implemented something similar to the second option.
Let me refactor and I'll send a PR!

[2018-02-06 11:59] bubenshchykov commented on #106
hi @cvalenzuela, let me know if you need help with PR ;)

[2018-02-06 17:11] funnymail9999 commented on #106
ngrok not working in termux android

On Feb 6, 2018 5:29 PM, "Alex Bubenshchykov" <notifications@github.com>
wrote:

[2018-02-06 17:49] cvalenzuela commented on #106
thanks, @bubenshchykov. I just finished a hectic week. I have it implemented, just needs some clean up, will send the PR this week!

[2018-02-09 17:44] bubenshchykov commented on #106
@cvalenzuela thanks for PR! I renamed this option to binPathReplacer and pushed to npm

[2018-02-09 17:45] #106 closed

[2018-02-09 18:07] cvalenzuela commented on #106
awesome, thanks!

[2018-03-03 10:29] bubenshchykov commented on #100
@hgezim @jwickens try ngrok 3.0.0 :)
closing this issue as major update has been pushed

[2018-03-03 10:29] #100 closed

[2018-03-08 12:41] ankibalyan commented on #87
@bubenshchykov should not modify `bin,share`, It may get worse. I've experianced.
`sudo chown -R $(whoami) $(npm config get prefix)/{lib/node_modules,bin,share}`

just `sudo chown -R $(whoami) $(npm config get prefix)/{lib/node_modules}` should work.

[2018-03-17 22:07] dhruvdutt opened #112 "Fix npm badge link"
Change npm badge to point to correct link

[![npm](https://img.shields.io/npm/v/ngrok.svg)](https://www.npmjs.com/package/ngrok)

[code]

[2018-03-18 10:21] #112 closed

[2018-03-30 02:08] shankqr opened #114 "Callback function if connection is dropped or ngrok URL changed"
Hi, when my nodejs app is disconnected from the internet for about a minute, the ngrok tunnel is dropped and how do I know this is happening so that I can reconnect with ngrok with await ngrok.connect()

Is there a Callback function if connection is dropped or ngrok URL changed?

[2018-03-30 07:09] bubenshchykov commented on #114
hi, this case is not handled at the moment
the easiest would be to add onClose option ```const url = await ngrok.connect({port, onClose})```, and handle more stdout messages like in this fork https://github.com/expo/ngrok/blob/master/index.js#L107

[2018-04-03 19:38] thisdavej opened #115 "npm global install on Ubuntu 17.10 fails"
Similar to [issue#87](https://github.com/bubenshchykov/ngrok/issues/87), I cannot do an npm install of ngrok globally.  I have tried it on Ubuntu 17.10 and Raspbian Stretch.  Perhaps the issue was fixed and now it is broken again?

[code]

Here's the npm debug log output:
[code]

[2018-04-04 21:33] bubenshchykov commented on #115
I don't think it was ever fixed. I thought that npm process creates /usr/lib/node_modules/ngrok/bin/, and then the same process writes .zip to it during postinstall. Apparently not. There are global installation tests running on Ubuntu  14 LTS, they are green and stable. https://travis-ci.org/bubenshchykov/ngrok/jobs/362082022#L681

So there are might be 17.10 specific things, or maybe a special l

[2018-04-12 20:01] thisdavej commented on #115
I was able to solve this issue by running the npm global install with the `--unsafe-perm` flag:
[code]
See more info on `--unsafe-perm` [here](https://docs.npmjs.com/misc/config#unsafe-perm).

By default, npm runs its lifecycle scripts (i.e. `postinstall.js` in our case here) as the `nobody` user rather than the regular user (root in our context since running under sudo).  This enables `postinstal

[2018-04-12 21:25] bubenshchykov commented on #115
@thisdavej great, I will update readme and then close this issue. Thanks a lot for your help!

[2018-04-16 06:35] mjangir opened #116 "Connection Timeout Error While Installing In Windows 10"
When I'm trying to install ngrok with `npm install --save-dev ngrok` the following error is occuring in windows 10:

[code]

and obviously the ip changes every time it retries. I'm sure it is somewhat related to TCP timeout configuration but shouldn't it work with the default windows settings.

[2018-04-17 01:15] bubenshchykov commented on #116
I have never tested it on windows actually. Is it a permanent problem?

[2018-04-17 05:44] mjangir commented on #116
I don't know whether it is permanent or temporary but one thing I would like to mention is, there is a proxy IP we always use in our computers here. for making the requests from node cmd, I had to set the npm config http-proxy with that IP but do we need to set anything for tcp connections also?

Its just a help requested not an issue with ngrok package probably.

[2018-04-17 15:51] thisdavej commented on #116
I tested the following on my Windows 10 machine and it worked:

[code]

Perhaps your proxy server is getting in the way. As one option, if permitted by your company, you could carry out the above command outside of your corporate network and then copy the `node_modules` folder back into your network.  Be prepared that the proxy server might get in the way when you invoke `ngrok` in your node code

[2018-05-08 19:29] ortizvinicius opened #117 "Custom subdomain not working"
Hello, i am trying to use this module, but i get an error
[code]

My authtoken is correct, and if I init the node script manually, it works, but using crontab (@ reboot) it don't works.

The code:
[code]

[2018-05-10 15:52] bubenshchykov commented on #117
@ortizvinicius hi, thanks for reporting, I'll take a look at it

[2018-05-10 16:17] ortizvinicius commented on #117
I found a solution, just needed to start the node as sudo

[2018-05-10 23:11] #117 closed

[2018-05-23 10:18] malivp3494 commented on #87
Anyone who's going to use

think 100 times before. I just had to reinstall entire ubuntu cause I accidently ran

on /usr . There's no solution if you change permissions of files that you don't even know.

[2018-05-23 13:39] ankibalyan commented on #87
@malivp3494 I've already mentioned that above. You should have read that. :smiling_imp:

[2018-05-24 03:41] malivp3494 commented on #87
@ankibalyan  yeah, but I read the solution somewhere else, and went with it. And now I regret it. There really needs to be other way around instead using ```chown -R```

[2018-05-24 07:00] ankibalyan commented on #87
way I do is,
Download node, npm binaries seperatly than put the excutable file path in env var $PATH rather than installing os dependents. It waorks way smothly and no need of sudo anymore.

[2018-05-24 09:36] malivp3494 commented on #87
@ankibalyan You should comment with a short procedure here, if you have time. For future users, who are going to use this, it will help a lot.

[2018-05-24 15:08] bubenshchykov commented on #87
hi guys, sorry to cause you problems by suggesting sudo in the comment above. i knew sudo is risky, but didn't know it could kill an entire OS :(

```npm i ngrok -g``` should just work itself. it works fine on OSX, but I see that it fails on linux
I'll take a closer look at permissions problem, might be possible to adjust postinstall.js

[2018-05-24 18:56] ankibalyan commented on #87
or one can follow, these steps https://docs.npmjs.com/getting-started/fixing-npm-permissions

[2018-05-29 10:53] bubenshchykov commented on #116
@mjangir do you need more help on this?

[2018-05-29 17:38] raymacz opened #118 "Ngrok - NPM Package Unexpected token function Error"
I used to run Ngrok package with no issues & I can run browser-sync package now w/ no problem in my localhost.
Now this is my error with Ngrok package :

         ...\gulp-dev\node_modules\ngrok\index.js:8
         async function connect (opts) {
           ^^^^^^^^

          SyntaxError: Unexpected token function
          at createScript (vm.js:56:10)
          at Object.runInThisContext (vm.js

[2018-05-31 03:53] bubenshchykov commented on #118
which node version you use?
also, tell me the output please
[code]

[2018-06-04 14:44] ballsac opened #119 "Using ngrok as HTTP proxy server"
Hello, I am trying to use ngrok as a HTTP proxy server similarly to this user's issue:
https://github.com/inconshreveable/ngrok/issues/379

In that post, a user says:

How can I utilize that TCP tunnel to proxy HTTP requests on Windows? Do I need a separate program to do so? Is there a chrome extension or something that I can use to setup a connection to use the tunnel, etc?

Sorry for the noob qu

[2018-06-06 08:01] bubenshchykov commented on #119
hi, sorry for a late response, but what exactly are trying to build?

[2018-06-06 08:29] ballsac commented on #119
Thanks for your response.

I am trying to use a machine that is behind a carrier-grade NAT to proxy HTTP requests for other machines. Basically we have a site that IP bans addresses, so we want to use this machine to obtain new IPs which we would then like to use to proxy HTTP requests from other machines.

Hopefully this makes sense, if not please let me know. Also, if you can think of another wa

[2018-06-06 08:54] bubenshchykov commented on #119
ahh, I'm not really good at NAT and proxy things
I think the best guy to ask for advise is @inconshreveable :)

[2018-06-07 03:44] inconshreveable commented on #119
try starting ngrok in tcp mode pointing at an http proxy. e.g. run `ngrok tcp 8888` and then on port 8888 you'll need to run an http proxy server. or you can just run multiple ngrok tunnels, each one pointing at an internal service you want to expose

[2018-06-07 16:31] ballsac commented on #119
Thank you both for your help.

I installed [CCProxy 8.0](http://www.cproxy.com), a Windows Proxy server, and configured it to bind to `port 8888` as suggested:
![ccproxy](https://user-images.githubusercontent.com/39440090/41112656-9304e8f6-6a4d-11e8-8221-27ea18c9f3e2.jpg)

I then ran ngrok in TCP mode pointing at `port 8888` using the command `ngrok.exe tcp 8888`:
![ngrok](https://user-images.gith

[2018-06-11 14:42] ballsac commented on #119
As a side note, if I set up a web server on port 80 and run ngrok with `ngrok.exe http 80` everything works perfectly.

[2018-06-12 15:55] martinoss commented on #116
I've got the same problem on windows. ngrok is being installed as part of office fabric.
Tried the NGROK_CDN_URL workaround but it did not help. Creating the structure manually is not an option for me too, because rushjs used by fabric removes that folder before reinstalling.

[2018-06-12 19:41] raymacz commented on #118
sorry for the late response, anyhow, my version:

       $ node --version
        v6.12.2
       $ npm --version
       3.10.10
       $ gulp --version
       [21:06:15] CLI version 2.0.0
       [21:06:15] Local version 3.9.1

I have added your code & this is the latest output after running my gulpfile.js:

     $ gulp
     win32x64
     F:\Raymacz\xampp\htdocs\wp\site1\wp-content\themes\gulp-dev\

[2018-06-18 15:34] ballsac commented on #119
RIP

[2018-06-20 02:51] bubenshchykov commented on #119
sorry @ballsac , i don't have an answer for you
inconshreveable seems to be busy too
try asking your question on stackoverflow maybe?

[2018-06-27 05:55] bubenshchykov commented on #118
Got it! As stated in readme,

Switch to v2.3.0 in your package.json if you can afford updating your node, and it should be good

[2018-06-27 05:55] #118 closed

[2018-06-27 05:57] #119 closed

[2018-06-27 06:08] bubenshchykov commented on #116
@martinoss what problem did you encounter when trying NGROK_CDN_URL?
the wait it works:
you download ngrok binary yourself and host it somewhere
you set NGROK_CDN_URL and NGROK_CDN_PATH (if needed) in your env vars before installing ngrok

Ngrok will then use the binary you provided
https://github.com/bubenshchykov/ngrok/blob/master/postinstall.js#L29

[2018-06-27 07:45] martinoss commented on #116
@bubenshchykov Initially, I thought the specific url is blocked by the proxy, thats why I tried hosting it by myself, but I'm getting the same error with an alternate url.
I believe it has to do with 'request' (used to download the file) not configured to use a proxy.
The corporate proxy requires NTLM authentication, so I'm forced to configure tools like git, npm, nvm, yarn, to use a local proxy (

[2018-06-27 21:06] bubenshchykov commented on #116
@martinoss thanks for the detailed explanation. I'm not good at proxy things, but my idea was to host ngrok binary before the proxy wall, in a local machine or so. Then "request" won't hit the proxy at all. Not sure about that though :)

Anyway, adding support for proxies is a perfect idea. Actually, request module respects HTTP_PROXY and HTTPS_PROXY evn vars already, so you can just use them.
htt

[2018-06-28 18:01] raymacz commented on #118
My Node is v6.12.2. I'm sorry, could you be a bit more specific what to update? Which one to switch to v2.3.0?

[2018-06-28 18:46] bubenshchykov commented on #118
sure, few options
a) you upgrade your node to 8.3.0 or later, re-install ngrok, and it just works
b) if you can't upgrade your node, just use ngrok@2.3.0 from npm
[code]
or if you have ngrok in package.json of a parent project, just change it to:
[code]

I hope it helps

[2018-06-28 21:38] raymacz commented on #118
It really helps, thank you so much. You are a savior!

[2018-06-29 15:02] martinoss commented on #116
@bubenshchykov Thats true HTTP_PROXY does it 👍. I remember this variable was required by bower and other tools too in the past...

[2018-06-29 18:31] bubenshchykov commented on #116
Cool, I've added it to readme and closing the issue. Thanks for reporting!

[2018-06-29 18:31] #116 closed

[2018-07-03 05:12] bubenshchykov commented on #115
Added to readme https://github.com/bubenshchykov/ngrok/blob/master/README.md#usage
Thanks again @thisdavej for a detailed research!

Long term, I hope we'll get rid of posinstall.js and host ngrok binary on npm as individual os-specific packages. https://github.com/bubenshchykov/ngrok/issues/98

[2018-07-03 05:12] #115 closed

[2018-07-10 11:54] mikiasgv commented on #10
Just try it from windows cmd.

[2018-08-02 04:42] McOmolloDotJava commented on #99
Hv been using ngrok too ,,, its working well. Bt its important to note that its not for production environment

[2018-08-25 17:27] CristoAMH opened #120 "Can't Install in Ubuntu"
I don't know what is the issue here.

---
Node version: v.10.9.0
NPM version: 6.4.0
---

Error:

/usr/local/bin/ngrok -> /usr/local/lib/node_modules/ngrok/bin/ngrok

ngrok - downloading binary https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
ngrok - error storing binary to local file { [Error: EACCES: permission denied, open '/usr/local/lib/node_modules/ngrok/bin/aHR0cHM6Ly9iaW4uZ

[2018-08-27 07:57] Vanthiyadevan commented on #120
$ sudo npm install --unsafe-perm -g ngrok

source: https://github.com/bubenshchykov/ngrok/issues/115#issuecomment-380927124

[2018-09-07 15:07] bubenshchykov commented on #120
it's also a part of readme
unfortunately, can't get rid of --unsafe-perm at the moment

[2018-09-07 15:07] #120 closed

[2018-09-10 21:16] heroys6 commented on #10
I installed npm, trying: `npm install ngrock -g` and got: `npm ERR! 404 Not Found: ngrock@latest`

[2018-09-11 01:03] bubenshchykov commented on #10
hi, the name of module is ngrok, not ngrock :)
On Mon, Sep 10, 2018 at 2:16 PM heroys6 <notifications@github.com> wrote:

[2018-09-13 13:10] pkra opened #123 "(non-global) installation failure - Ubuntu 18.04, node 10.9.0, npm 6.2.0"
The readme indicates that `npm i ngrok` should work ok while global installs requires sudo and unsafe-perms on Linux.

However, on Ubuntu 18.04, node 10.9.0, npm 6.2.0, `npm i ngrok` just hangs for me.

When I clone the repor and run `npm i`, it installs but the npm security audit indicates 3 security issues. Running `npm audit fix` then hangs, so it looks like it's a newer version of a dependency

[2018-09-15 17:00] bubenshchykov commented on #123
hi, thanks for reporting
never run into it, I'll mimic your environment and try to reproduce nearest days

[2018-09-17 06:45] pkra commented on #123
Hm... `npm i` is working for me now and cloning, `npm i && npm audit fix` as well, so this may have been an issue on my end or something upstream was inadvertently fixed.

Sorry for the noise!

[2018-09-17 06:45] #123 closed

[2018-09-21 18:46] bubenshchykov opened #125 "Update dependencies in package.json to fix known vulnerabilities"
<img width="743" alt="screen shot 2018-09-21 at 11 45 16 am" src="https://user-images.githubusercontent.com/1152020/45900190-e5ea9b80-bd93-11e8-9ef1-0a9d563df287.png">

[2018-09-24 08:04] chaddjohnson opened #126 "Something has broken 2.3.0"
Hi,

Thank you for the free software.

It appears a recent change broke an existing previous version. It is my understanding that changes should not break past versions.

When I run `yarn install` this happens now:

[code]

Any idea what happened, and can this be fixed? This is very frustrating as I cannot start my app now.

[2018-09-24 08:10] chaddjohnson commented on #126
Fixed by upgrading to the latest version.

I was avoiding upgrading because it was freezing when I ran my app, but I was promisifying `ngrok.connect()`, and since v3 appears to use promises, this is no longer necessary.

[2018-09-24 08:10] #126 closed

[2018-09-30 11:08] RickWong opened #127 "Not all ngrok options are passed to spawn command"
I cannot disable inspection by passing `inspect: false` to `ngrok.connect()`.

https://github.com/bubenshchykov/ngrok/blob/391b23e65ccd214815c8995d21f958b65a10d34b/process.js#L31-L36

![image](https://user-images.githubusercontent.com/40102/46256920-e381f300-c4b1-11e8-9a6a-9ce4aa016e86.png)

[2018-09-30 21:28] RickWong commented on #127
Never mind. Found out that this library uses ngrok's API to set these options.

[2018-09-30 21:28] #127 closed

[2018-10-19 09:10] TLmaK0 commented on #10
With git bash use:

```ngrok.cmd http 80``` instead of ```ngrok http 80```

[2018-10-19 21:51] MLoughry opened #128 "Ngrok postinstall failing due to HTTP 500 from CDN"
`https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-windows-amd64.zip` is returning an HTTP 500, which is killing all of our builds as we try to run `yarn` and the postinstall script fails. Is the CDN being worked on? Is there a workaround aside from removing the dependency?

[2018-10-19 22:36] MLoughry commented on #128
It looks like this is now resolved, and should be addressed by #98 anyway.

[2018-10-19 22:36] #128 closed

[2018-11-13 19:28] samirchian opened #129 "Cannot find module 'decompress-zip'"
[code]

not sure why it can't find `decompress-zip` any idea?

[2018-11-14 00:49] bubenshchykov commented on #129
hi, what are your node and npm versions?

[2018-11-14 01:00] samirchian commented on #129
Hi,
[root@ea81bcb644fc]# node -v
v8.10.0
[root@ea81bcb644fc]# npm -v
6.1.0

[2018-12-13 21:04] stevemk14ebr opened #130 "Ngrok not launching"
On windows if you install this package the ngrok exe in the /bin folder doesn't have an exe extension. This causes the launch to fail to find the file and npm install to fail. Renaming this to .exe also doesn't fix it, since the ngrok exe is 1 year old it though it launches it is either too old or corrupt somehow. I suggest downloading the exe from the ngrok website in your install script and then

[2018-12-16 02:43] stevemk14ebr commented on #130
#67

[2018-12-19 08:46] 141801 commented on #119
Hello, The same question with you ,could you tell me how did you save it

I  want to use ngrok to expose my http-proxy server  in the internal net

[2018-12-21 05:33] bubenshchykov commented on #130
hi, thanks for the detailed report! I will close this one in favor of #67

[2018-12-21 05:33] #130 closed

[2019-01-17 08:41] OZZlE commented on #87
I was doing `sudo npm install -g ngrok --unsafe-perm=true --allow-root` inside my vagrant box, I just removed `sudo` and it worked fine :)

[2019-01-26 08:03] sqqihao commented on #119
follow you , same problem....

[2019-01-30 13:02] eowo opened #131 "Vulnerable version of decompress-zip (v0.3.1)"
[https://www.npmjs.com/advisories/777](https://www.npmjs.com/advisories/777)

[2019-01-31 15:12] gfcf14 opened #132 "Possible error with Ngrok: failed MSpanList_Insert"
Hi. I'm writing this problem here as I was suggested the problem I've been having may have to do with Ngrok.

I am attempting to complete the Confluence Multi-page Blueprint tutorial (https://developer.atlassian.com/cloud/confluence/multi-page-blueprints-with-confluence-connect/) and as I completed all the steps up to **Host and install your app** I attempted to run the project with npm start, I g

[2019-01-31 16:11] hypeofpipe opened #133 "[SUGGESTION] Add more details to errors"
Hello!

Today I had a problem with ngrok, and it was `failed to start tunnel`. So I was investigating the problem for hours, until didn't try `ngrok` at terminal and it finds out that
[code]

It would be better if we can just return the same error, or the main reason - too many active client sessions instead of vague `failed to start tunnel`.

[2019-02-03 06:02] bubenshchykov commented on #132
hi, there are no special installation steps needed if you add ngrok to your package.json and require it from code

node_modules/ngrok/index.js:100:13 - line 100 does not even exist in index.js, so I suggest updating to the latest ngrok version first :)

[2019-02-03 06:06] bubenshchykov commented on #133
hi, thanks for reporting that, great suggestion!
I'm not currently contributing to this module but will be happy to review and merge the PR

[2019-02-04 05:30] #132 closed, assigned to nobody

[2019-02-04 05:36] bubenshchykov commented on #131
fixed, see ngrok@3.1.1

[2019-02-04 05:36] #131 closed

[2019-02-04 05:36] bubenshchykov commented on #129
might be fixed in ngrok@3.1.1

[2019-02-04 05:36] #129 closed

[2019-02-04 14:51] gfcf14 commented on #132
I do have ngrok installed and updated, but in the end this wasn't an issue with ngrok, rather that atlassian/confluence's repo for this tutorial is using outdated libraries. Once this isssue is fixed, can I post a link with the solution for it here? This problem seems to be rather obscure and a few people have been asking about it for months and no solution has come up

[2019-02-09 18:33] Restuta opened #134 "[Question] How to run multiple tunnels for same subdomain?"
I am on basic plan working with 2 teammates. We are developing app that uses webhooks from Slack. For that we specify webhook URL in slack such as my-app.ngrok.com. With one developer everything works just fine, but then when second developer starts ngrok using this package we get this error:

[code]

here is how we start the proxy

[code]

I read documentation and stack overflow answers, but it's

[2019-02-09 21:55] bubenshchykov commented on #134
Hi! One ngrok url (https://my-app.ngrok.io) can be bound only to one localhost app at a given time. It can't redirect traffic (deliver webhooks) to two different localhost apps simultaneously.

I think each localhost app that needs webhooks to be delivered should use its own unique ngrok url. Unless there is a new "one tunnel - multiple local hosts" magic feature that I'm now aware of :)

@inconsh

[2019-02-10 03:39] Restuta commented on #134
@bubenshchykov thank you, but this doesn't allow meaningful development workflow for our team. We can use different URLs like https://anton-my-app.ngrok.io and etc, but Slack apps (for example) don't have an easy way of setting this up. Some apps allow only one webhook URL and this makes it impractical/impossible to have multiple engineers working on this together.

Have you dealt with such issues

[2019-02-10 04:05] bubenshchykov commented on #134
I feel you @Restuta , had the same issue before. Ngrok's job is simple - redirect traffic from one ngrok url to ONE localhost - it will not help with your problem if it's hard to register multiple webhook urls.

Quick idea is to decouple receiving the webhook from actual logic that sits behind it
- make one service that listens to all webhooks and triggers SQS / Rabbit MQ events in response (any e

[2019-02-11 04:46] bubenshchykov commented on #133
wanted to improve the error handling... but found out that current error is detailed enough
[code]

How can it be any better? =)

[2019-02-11 04:47] #133 closed

[2019-02-11 04:47] #134 closed

[2019-02-12 01:17] Restuta commented on #134
Oh, this is a nice idea @bubenshchykov about RabbitMQ exchanges, we actually use it currently. Thank you!

[2019-02-17 18:32] manast opened #135 "How to specify the reserved TCP domain?"
I am trying to use a reserved TCP domain programmatically, however I do not know which option to use. Tried ```addr``` without luck:
[code]

[2019-02-18 06:17] bubenshchykov commented on #135
try "remote_addr"

[2019-02-18 13:11] AntonSyl opened #136 "Undefined error"
I try to launch two tunnels. But sometimes I had an "undefined" error after creating the first tunnel

`await ngrok.authtoken(config.ngrokAuthToken)
    // const visitorUrl = await ngrok.connect({authtoken: config.ngrokAuthToken2, proto: 'http', addr: 7071},
    const visitorUrl = await ngrok.connect(7071,
        (err, url) => {
            if (err) {
                console.log(err);

[2019-02-18 15:50] manast commented on #135
works, thank you.

[2019-02-18 15:50] #135 closed

[2019-02-18 21:57] bubenshchykov commented on #136
currently, the creation of two tunnels with different authtokens is not supported (or will be buggy), because they share the same ngrok process

as a workaround you can try to spin up two tunnels in two different child processes - so each of them will instantiate its own ngrok process

[2019-02-26 09:29] zcmgyu opened #138 "ngrok randomly doesn't work until access to localhost:4040"
`{"errno":"ECONNREFUSED","code":"ECONNREFUSED","syscall":"connect","address":"127.0.0.1","port":4041}
`
In this case, if I don't access into localhost:4040, ngrok doesn't allow create a tunnel.

[2019-03-06 14:02] lojzatran opened #139 "ngrok failed to create tunnel in Travis"
Since today, I suddenly have a problem with creating new tunnels in ngrok in Travis CI:
[code]
When I run the same code in my local machine, everything works just fine.

It seems like this repo also has [the same problem](https://travis-ci.org/bubenshchykov/ngrok/jobs/502571514). Any idea what is the reason and how to fix it? Thanks.

[2019-03-06 14:41] lojzatran commented on #139
I did some testing in Travis debug mode and when I run this in the Travis machine, it works fine:
[code]
but when I run this in Node REPL, it throws error like above:
[code]

[2019-03-06 16:55] miguelduarte42 commented on #139
I'm seeing this in 3.1.1, which I have been using for some time now without any issues

[2019-03-06 17:29] tbell511 commented on #139
I am having the same issue.
[code]

Works fine on my mac though.

[2019-03-06 17:43] inconshreveable commented on #139
ngrok pushed a new version of the ngrok client which is certainly the source of this issue. we're digging into it right now

[2019-03-06 20:25] inconshreveable commented on #139
We've released a new version of the ngrok client, 2.3.13 that should solve this issue. Can you confirm?

[2019-03-06 22:20] tbell511 commented on #139
@inconshreveable It's working! Thanks for the update and quick fix!

[2019-03-07 08:32] lojzatran commented on #139
Works again, thank you!

[2019-03-07 08:32] #139 closed

[2019-03-08 11:34] miguelduarte42 commented on #138
I'm getting the same. ngrok has been the reason my intermittent failed builds lately

[2019-03-10 18:55] amandeepmittal opened #140 "ngrok@3.1.1 unable to install!"
Here is the complete error with the screenshot.

[code]

![Screenshot 2019-03-11 at 12 22 52 AM](https://user-images.githubusercontent.com/10234615/54089902-15b64b80-4394-11e9-8132-fe74fdebe63b.png)

[2019-03-10 18:59] amandeepmittal commented on #87
@OZZlE your solution worked! Thank you so much. Though I filed an issue her #140.

[2019-03-25 18:44] trevorlinton commented on #138
FYI, i had this same issue, i tracked it down to a bad auth token.   I launched `ngrok` via the command line and it responded with invalid token,  I don't think those errors bubble up.

[2019-03-25 21:10] miguelduarte42 commented on #138
In my case I found out today that I was creating a second connection on a
different machine, while my subscription only allows for one.

Trevor Linton <notifications@github.com> escreveu em seg, 25/03/2019 às
18:44 :

[2019-03-26 17:12] szanata opened #141 "ngrok not working on docker alpine images anymore"
Hi there! I'm having some problems here, before update `3.1.1` I was able to run ngrok inside a docker container using alpine and slim node images, after the last release it start throwing this error:

[code]

Is this expected?

On stretch images it works fine.

Thank you very much

[2019-03-27 15:49] bubenshchykov commented on #141
Hi! Thanks for reporting, that's not expected
Is it specifically 3.1.1 that breaks it - does 3.1.0 runs fine on alpine/slim ?

[2019-03-27 16:59] szanata commented on #141
Hi @bubenshchykov, thanks for responding! The previous version we were using was 3.0.1, that worked for sure. I'll test the 3.1.0 today and I'll reply to you.

[2019-03-27 17:53] szanata commented on #141
Hi @bubenshchykov, I took some time re-tested everything and here what I found out:

For starters, the lib is not working in alpine images, event the v3.0.1. I'm pretty sure this is related to the binary, but here is a chart of were I could make it run properly:

| ngrok | node:8.10-alpine | node:11.6-apline | node:8.10-slim | node:11.6-slim | node:8.10-stretch | node:11.6-stretch |
| - | - | - |

[2019-03-30 01:05] silviujingoi commented on #10
I added the following alias to my `~/.bash_profile`

`alias ngrok="ngrok.cmd http --log=stdout"`

After that you can just run `ngrok 80` to create the HTTP tunnel.

[2019-04-04 09:02] zcmgyu commented on #138
My workaround is use fetch api to request to localhost:4040 and retry again.

[2019-04-05 05:24] balaabhinav commented on #141
I am facing the same issue. Any updates on this ?

[2019-04-11 10:57] mAmged commented on #119
+1

[2019-04-13 18:15] rodrigocam commented on #140
This one did the trick for me:

[code]

[2019-04-19 10:08] claridgicus commented on #10
Thank some deity for you - so annoying though

[2019-06-04 11:55] Mickael-van-der-Beek commented on #141
I encountered the same issue and managed to fix it.

During the NPM install phase, the binary that is downloaded by `ngrok` depends on the result of the calls `os.platform()` and `os.arch()` [1]. For Alpine Linux that value is `linuxx64` [2].

Now if you change it to the `linuxia32` build, it works again.

One way to achieve this result without modifying the code of `ngrok` is to pass the followin

[2019-06-04 15:11] BuckAMayzing opened #142 "Can't install without request cafile (postinstall fails)."
Hi folks, I'm having issues to get this to install properly due to the postinstall script. Here's my error. I'm working behind a corporate proxy/firewall (security isn't my strong suit, so I don't know all the moving parts here).

[code]

I pulled down the repo and was able to get this to work if I changed the get in the post install to the following:

[code]

Are there any supported workarounds?

[2019-06-06 03:01] bubenshchykov commented on #142
hey, a possible workaround is to host binary yourself and specify it in env var NGROK_CDN_URL / NGROK_CDN_PATH. postinstall.js will then skip the download from equinox. please, check the source code for more details.

Or you can have binary locally and introduce NGROK_BINARY_PATH var

Or you can add NGROK_SKIP_DOWNLOAD var and use "binPath" option that already exists https://github.com/bubenshchyk

[2019-06-06 03:05] bubenshchykov commented on #142
also, binary download happens with "request" module
and request module respects few related options that might help you
https://github.com/request/request#controlling-proxy-behaviour-using-environment-variables

[2019-06-06 11:48] BuckAMayzing commented on #142
Gotcha. Thanks Alex. I did see those environment variables, but was looking for something that would allow me to download the real binary to allow for potential ngrok updates in the future without the need for me to manually update.

Would you have any objections to me putting out a PR that will let modify the request call to use the CA file specified in .npmrc or an environment variable (the code

[2019-06-06 14:21] bubenshchykov commented on #142
absolutely! you are more than welcome to submit the PR, it's great to have an option to use CA file

some people solved a similar problem just by using "request" module options
https://github.com/bubenshchykov/ngrok/issues/116#issuecomment-400829039

[2019-06-10 18:44] BuckAMayzing commented on #142
I will do this during the week. I wasn't able to use the proxy method. Thanks!

[2019-06-13 16:22] PeterTough2 commented on #10
If this fails on Windows, navigate to `C:\Users\Your-User\AppData\Roaming\npm\node_modules\ngrok\bin` and double click on `ngrok.exe` to run, then enter `ngrok.exe http YOUR-PORT`

[2019-06-16 19:03] BuckAMayzing commented on #142
I forgot to associate #143 with this. Apologies. I will close the issue now.

[2019-06-16 19:03] #142 closed

[2019-06-16 19:22] bubenshchykov commented on #142
Published to npm: https://www.npmjs.com/package/ngrok/v/3.2.0
Was a pleasure to collaborate with you on this. Great job @BuckAMayzing !

[2019-06-17 02:35] BuckAMayzing commented on #142
Same to you, Alex! Thanks!

[2019-06-17 11:30] bubenshchykov commented on #141
hi guys! @szanata thank you very much for putting all the details together
unfortunately, I won't be able to work on it nearest weeks
so if anyone can take a lead on this issue - that would be great!

alternatively, you can manually download the binary in your docker image
https://ngrok.com/download

you can also call the ngrok directly, outside node, of course

[2019-06-28 09:32] TiborMalmo opened #145 "I seem to get socket hangups very often when starting my ngrok."
Hello! When I try to connect to ngrok using your package I seem to often get socket hangups. I get error messages like this:
`2019-06-28T11:05:27+0200 <error> ngrok-connector.js:29 (ngrok.connect.catch) Failed to connect to subdomain 'tibor-refined-general' { Error: socket hang up
   at createHangUpError (_http_client.js:323:15)
   at Socket.socketOnEnd (_http_client.js:426:23)
   at Socket.emit (

[2019-06-29 00:00] bubenshchykov commented on #145
There might be a timing issue, because ngrok.connect first spawns the ngrok binary and then calls its internal api to start the tunnel. An easy fix is to a) add retries in your code b) or add retries to ngrok https://github.com/bubenshchykov/ngrok/blob/master/index.js#L57 =)

[2019-07-08 05:49] TiborMalmo commented on #145
Thank you! I will try to fix it with that solution! :)

Have a great day!

[2019-07-08 05:49] #145 closed

[2019-07-08 21:11] #114 closed

[2019-07-11 08:48] 5tormTrooper commented on #134
@bubenshchykov I would love to see a tutorial on how to do this. The service I'm using ngrok for only allows one webhook URL. So I guess I need a proxy server that redirects traffic to one tunnel or another based on the content response?

I'm not super knowledgeable about this stuff, so I don't know where to start with that, but it seems like a good service or feature idea.

[2019-07-11 16:37] bubenshchykov commented on #134
@5tormTrooper so you have only one webhook url provided by service, but you need this webhook to trigger something in your multiple environments?

[2019-07-11 23:24] bubenshchykov commented on #134
If you really need to use one webhook url for all environments, then:

a) if you have multiple **hosted** envs like dev, qa that all need webhook trigger:
- create a little hosted service with one http endpoint to catch your webhook
- inside http endpoint - trigger all your environments by calling their http endpoints

b) if you have multiple **localhost** envs that need the same webhook trigger:

[2019-07-17 13:20] miguelduarte42 opened #148 ""ngrok is not yet ready to start tunnels" in Docker"
Hi,

I'm getting this error every time I try to connect:

`{ error_code: 104,
  status_code: 503,
  msg: 'ngrok is not yet ready to start tunnels',
  details:
   { err: 'a successful ngrok tunnel session has not yet been established' } }`

Running ngrok on the command line works great, it just doesn't work when I call it using some node code:

[code]

This stopped working all of a sudden. Been wor

[2019-07-17 19:05] paton commented on #148
@bubenshchykov I contacted ngrok about this issue today. Here is their response:

[code]

[2019-07-17 19:13] paton commented on #148
Alan's suggestion seems to be inline with #149 which adds this error code to the isRetriable method.

[2019-07-17 19:15] bubenshchykov commented on #148
hi @paton , module already handles that:
https://github.com/bubenshchykov/ngrok/blob/master/index.js#L61 - same error message is marked as retriable, then module sleeps for 200ms and retries 100 times max - which gives 20 seconds of total wait time

feel free to increase retries count or sleep time and see if it helps
https://github.com/bubenshchykov/ngrok/blob/master/index.js#L49

[2019-07-17 19:16] bubenshchykov commented on #148
@paton yes, there might be a change of error message that screwed the logic up
please add your message and i'll be quick to publish the PR

[2019-07-17 19:17] paton commented on #148
@bubenshchykov

The code you referenced checks for status code 502. Ngrok is returning a 503

[2019-07-17 19:40] #148 closed

[2019-07-17 21:38] bubenshchykov commented on #138
@miguelduarte42  did your recent PR fix this issue? try latest ngrok from npm

[2019-07-19 08:48] marcquesmouton commented on #119
Hello guys, i was struggeling with same issue with ccproxy. been at it since yesterday, but i am now using squid-cache instead..
use tcp for squid-cache...

regards

[2019-07-23 07:55] 5tormTrooper commented on #134
Thanks for following up on this. a) applies most to me. Here's the setup:

<img width="941" alt="Image 2019-07-23 at 9 44 37 AM" src="https://user-images.githubusercontent.com/4154407/61692755-81d79180-ad2e-11e9-94d6-ee0a9c62108e.png">

The service with the single webhook URL is being used by multiple developers, so the little hosted service needs to send out to each of the developers (or hosted i

[2019-08-01 12:42] barronwei commented on #141
Has there been fix for this issue? Adding the environment variable `NGROK_ARCH` per @Mickael-van-der-Beek on version `3.2.4` did not work for me.

[2019-08-07 14:50] childish-sambino opened #152 "Expose the ngrok localhost URL to the caller"
It would be nice if the calling application could retrieve the URL of the spawned ngrok process in case a user wants to view the explorer. It's _usually_ on port 4040, but not always.

[2019-08-07 14:52] childish-sambino opened #153 "Add callback for all log events"
The current callback option `onStatusChange` only alerts the caller when a connection is established or closed. Request a more generic `onLogEvent` callback that is invoked on each `stdout.data` event.

[2019-08-07 22:17] bubenshchykov commented on #152
hi @childish-sambino , it's already implemented
https://github.com/bubenshchykov/ngrok#inspector

[2019-08-07 22:21] bubenshchykov commented on #153
which stdout events are you interested in?

[2019-08-07 22:24] childish-sambino commented on #152
Yup, but how can I get the actual URL of the inspector to open in a web browser?

[2019-08-07 22:25] childish-sambino commented on #153
All of them would be nice for debugging.

[2019-08-07 22:29] bubenshchykov commented on #153
alternatively, we can optionally pipe stdout from ngrok to stdout of consumer
will it achieve the same goal for you?

[2019-08-07 22:31] childish-sambino commented on #153
Regards,
Sam Harrison

Sent from my iPhone

[2019-08-07 22:32] childish-sambino commented on #153
That would help. But it’s a less flexible implementation in case I later want to take some action based on state change or errors.

[2019-08-07 23:18] bubenshchykov commented on #153
np, feel free to submit the pr that will meet your needs - i'll be quick to accept it

[2019-08-07 23:21] bubenshchykov commented on #152
the host/port of ngrok web url is the same with api url
but you are right, it's impossible to extract it from "request" object of getAPI at the moment
re-opening

[2019-08-10 07:03] #153 closed

[2019-08-11 14:32] #152 closed

[2019-08-12 06:50] shawsourav opened #156 "Allow multiple config paths like it is supported in ngrok CLI"
Currently there is no way to allow usage of multiple config paths and merging them as is available in ngrok cli like `ngrok start -config ~/ngrok.yml -config ~/projects/example/ngrok.yml demo`

[2019-08-13 09:53] shawsourav opened #157 "ngrok fails to start with console_ui set to true in ngrok configuration"
It fails silently without throwing an error. The error is because console_ui is not supported with stdout and stderr.

[2019-09-03 06:29] ngocdaothanh commented on #157
Hi, is there any way to fix this problem?

I'm writing a library that uses this ngrok library.
If users have `console_ui: true` in their `$HOME/.ngrok2/ngrok.yml` file,
my library will fail to work.

To clarify, the `console_ui` option is mentioned in the doc:
https://ngrok.com/docs

[2019-09-15 00:18] bubenshchykov commented on #157
Hi, great catch! You can fix it by ignoring or resetting the console_ui option here https://github.com/bubenshchykov/ngrok/blob/master/index.js#L22

Currently, stdout of ngrok process is used for communication with node.js, so any changes to ngrok stdout (like console_ui or logfmt options) will kill break the module.

[2019-09-19 04:40] justinmchase opened #158 "ngrok child process is still running after parent process closes"
I'm using `tsc-watch` to compile and run my typescript application I simply have `await ngrok.connect(8080)` in my app but when the server restarts the ngrok process from the previous run is still there despite its parent process being closed and I cannot make a new connection since its still running in a background process.

How can I ensure that ngrok process shuts down when the process exits un

[2019-09-21 18:04] bubenshchykov commented on #158
good catch, it sounds like a big bug!

as a quick workaround, you can attempt to manually kill the process before the start
[code]

here is how we kill the process when parent process exits
https://github.com/bubenshchykov/ngrok/blob/master/process.js#L36

there might be spawn-ing options that make sure the child process gets killed automatically
https://github.com/bubenshchykov/ngrok/blob/master/

[2019-09-23 17:59] justinmchase commented on #158
I'm gonna work on getting a reproduction; but I'm on my mac laptop right now and it appears that its non-reproducible. When I encountered the error it was while trying to work in windows subsystem for linux, so its possible that there is a special issue in that environment, or maybe I'm using an older version of node, or something like that. I'll try it out later and see if I can isolate the issue

[2019-09-23 18:02] justinmchase commented on #158
I'm going to close this until I can find an actual repro.

[2019-09-23 18:02] #158 closed

[2019-09-24 04:18] bubenshchykov commented on #158
cool, thanks for looking into that!

[2019-10-01 22:24] parithon commented on #141
@barronwei For me the following works for me:

[code]

[2019-10-08 17:26] scheng123 opened #159 "What protocol does ngrok use"
I cannot find anywhere what protocol ngrok uses as a reverse forwarder. Is it ssh? http?

[2019-10-18 04:44] bubenshchykov commented on #159
cc @inconshreveable  :)

[2019-10-23 10:28] Farhan-Haseeb commented on #87
I was facing the same problem in OSX even `sudo`didn't work. I had to use `sudo npm install -g ngrok --unsafe-perm=true --allow-root`

[2019-10-23 13:05] OZZlE commented on #140
remove `sudo` and it works even better

     npm i -g ngrok --unsafe-perm=true --allow-root

See: https://github.com/bubenshchykov/ngrok/issues/87

[2019-10-23 13:58] #140 closed

[2019-10-28 05:20] tngflx opened #161 "How can i make a tunnel for mongodb connection?"
Currently I have code that look like this.
[code]

[2019-10-28 06:03] jcayzac opened #162 "Support the standard forwarded header"
Hi,

[code]
It would be nice if `ngrok` supported the more recent `forwarded` header, too.

See:
- [`RFC 6648: Deprecating the "X-" Prefix and Similar Constructs in Application Protocols`](https://tools.ietf.org/html/rfc6648)
- [`RFC 7239: Forwarded HTTP Extension`](https://tools.ietf.org/html/rfc7239)

[2019-11-01 07:29] ChristopherDrum commented on #138
Having the exact same error as @zcmgyu above
Didn't have this issue last week. 🤔
I'm on ngrok v3.2.5 on macOS Mojave

[2019-11-03 05:38] shawsourav commented on #157
@bubenshchykov should I raise a PR with the change you mentioned so that devs don't get confused as to why it doesn't work when `console_ui` is true?

[2019-11-03 09:28] bubenshchykov commented on #157
@shawsourav thx, that would be great!

[2019-11-05 13:41] calsal8 commented on #138
I don't know the reason but I also got the same issue from one day to another (v3.2.5). Generating a new token in my [ngrok dashboard](https://dashboard.ngrok.com/auth) was not enough. The solution was to create a new account (and a new token ofc) and use that token.

I guess my account got locked for some reason, without giving me a proper error message or info on my dashboard. Hope this helps so

[2019-11-07 10:46] moeinrahimi commented on #34
I have this issue on 3.2.5

{
  error_code: 103,
  status_code: 502,
  msg: 'failed to start tunnel',
  details: { err: 'session closed' }
}

[2019-11-08 19:10] AlexHankins commented on #58
Workaround is to run `winpty ngrok` instead of just `ngrok`.  It looks like the problem is how Windows ngrok doesn't really know how to use the Windows console.

ngrok is certainly not alone in needing this treatment.

[2019-11-08 19:13] AlexHankins commented on #60
Use `winpty ngrok` instead of just `ngrok`.  Works for me.

[2019-11-09 12:07] shawsourav commented on #157
@bubenshchykov The approach mentioned seems not feasible since --console_ui is not accepted key-value in the options now by ngrok binary itself 😢 Only way it could be reconfigured is by passing a config path but then in that it neglects the root config. Can we have something like this `ngrok start -config ~/ngrok.yml -config ~/projects/example/ngrok.yml` so that we can combine two configs?

[2019-11-25 12:18] MOZGIII opened #163 "Bundle binaries"
Bundling binaries via `prepare` script would improve reliability and enable proper vendoring (such vendoring that actually works).

[2019-12-17 07:07] techterbium opened #164 "How can I get URL of existing connection?"
Is there a way, where I can get the URL of the existing ngrok tunnel opened on a specific port?

Here is my use case:
- I want to open a ngrok tunnel on the port, say 8080 before webpack starts.
- I want to access the URL of the tunnel at 8080, during webpack process, say, CopyWebpackPlugin.
- Also, I want to kill the process when the webpack-watch is closed.

Thanks in advance.

[2019-12-20 07:47] bubenshchykov commented on #164
ngrok provides api to get urls of existing tunnels https://ngrok.com/docs#list-tunnels
it might be easier for you to use it directly

alternatively, you can start tunnel and run webpack in one node process
smth like
[code]
when webpack-watch exits it will also finish the main process, wchich will kill the ngrok process too

[2019-12-23 12:17] guidosantillan01 commented on #10
That worked. Thanks!

[2019-12-24 12:19] techterbium commented on #164
Thank you @bubenshchykov. Although it doesn't solve my problem as is, I guess, you have given me a good lead here..

[2019-12-24 12:19] #164 closed

[2020-01-01 17:12] ledenis opened #166 "TS typings missing for `ngrok/download`"
Following this PR https://github.com/bubenshchykov/ngrok/pull/160, it still misses typescript typings.

When trying to do `import * as downloadNgrok from 'ngrok/download';`:

[code]

The suggested workaround works for now.

[2020-01-30 15:35] olso opened #167 "Ngrok and nodemon"
If anyone will be searching for this combo in the future

---

`package.json`

[code]

---

`nodemon.js`

[code]

---

`ngrok.ts`

[code]

[2020-01-30 15:36] #167 closed

[2020-02-18 18:10] ibrahim0099 commented on #10
Open Window Prompt as an administrator & then run this command. That will work.

ngrok http 3000

[2020-03-12 22:05] sammachin opened #169 "binPath not working with electron"
I'm trying to implement ngrok in an electron app, I followed the notes in #106 and am setting binPath as per the docs:
[code]
However this fails both on npm start and when the app is built, I get the following error,

App threw an error during load
/Users/smachin/Code/electron-ngrok/main.js:132
        binPath: default => default.replace('app.asar', 'app.asar.unpacked')
                 ^^^^^^^

S

[2020-03-18 12:08] luismachaner opened #172 "ngrok believe tunnels are open"
I am using free ngrok (v2.3.35), hence I am limited to one online tunnel and that's fine. However, the `ngrok` process is not running in my Win10 machine, but I cannot open a new tunnel.

The status tab on my ngrok profile page says I have two active tunnels, but I don't know where they come from. I am pretty sure I haven't run ngrok from any other laptop. But I cannot find how to shut the tunnels

[2020-03-31 18:45] underGhost opened #174 "Binary is killed"
I'm running into an interesting issue where the ngrok process is killed, then deleted.

When running the binary after a fresh install I get: `Killed: 9`, then every time after it cant find the binary.

Could this be due to an environment change?

[2020-04-01 20:18] JonathanSouthern opened #175 "Tunnel doesn't always open"
I'm not running multiple tunnels at the same time or anything, yet I recieve this error without further details. Using the same code I was able to open a tunnel only half the time.

**Specs**
- Node Version: v10.19.0
- Ngrok Version: 3.2.7
- NPM Version: 6.13.4
- Operating System: WSL (Ubuntu)

**Code**
[code]

**Error**
[code]

[2020-04-06 17:59] cybrefox opened #176 "Ngrok doesn't return the url"
Hello, I'm having a problem with ngrok.
[code]

The tunnel is working but `url` is undefined. Nothing is logged in to the console. Am I doing something wrong? Thanks!

[2020-04-06 18:08] cybrefox commented on #176
Nevermind, I'm just stupid. I was using the wrong version.

[2020-04-06 18:08] #176 closed

[2020-04-11 20:29] #169 closed

[2020-04-15 12:57] alonroth commented on #95
@bubenshchykov equinox.io is down again

[2020-04-16 05:00] philnash opened #177 "Is there a way to get the underlying version of the ngrok executable?"
And if so, is it also possible to find out if there is a new version available?

I know that the ngrok executable itself knows (or can know) both of these things. Just wondering if that can be exposed as part of this module?

Thanks!

[2020-04-26 04:19] #58 closed

[2020-05-14 21:02] CraftyArmy opened #180 "Ngrok is not opening!!!!!!"
Every time I click on the program it closes and I have zero clues on how to fix it.

edit: here a link to a video showcases the issue https://youtu.be/wTlDiJR_eXQ

[2020-05-25 07:41] joshuatvernon commented on #174
I am getting this issue as well. I tried install from npm, brew and directly downing from the https://ngrok.com/download site.

Steps to reproduce:
1. Download `ngrok` with NPM
[code]
2. Run `ngrok`
[code]

[2020-06-14 17:25] swarooppuranik commented on #34
I am getting the same error. I am using python for ngrok. please advise

[2020-06-14 17:33] bubenshchykov commented on #34
@swarooppuranik  How do you use this node.js module with python?

[2020-06-14 17:47] swarooppuranik commented on #34
May be this is wrong thread. I am using pyngrok (python with ngrok). I am trying to establish connection with reserved tcp address and getting this error.

[2020-06-14 17:50] bubenshchykov commented on #180
hey, thanks for reporting!
try installing it from ngrok.com directly
this module is a wrapper around that binary, but it's tricky to get ```npm install -g``` working for windows

[2020-06-14 17:59] bubenshchykov commented on #177
should be possible, smth like
[code]
please feel free to add it!

not sure if ngrok binary has command for checking the latest version though

[2020-06-14 18:04] bubenshchykov commented on #34
np, please contact binary owner at ngrok.com (contact@ngrok.com)

[2020-06-14 23:36] philnash commented on #177
Awesome, thanks, I will take a look at adding it.

Just to let you know, this project is underpinning my [VSCode extension for ngrok](https://github.com/philnash/ngrok-for-vscode/) which is working very nicely. Thanks for your work on this!

[2020-06-15 00:16] bubenshchykov commented on #177
The extension looks super awesome, I will definitely give it a try!

[code]

[2020-06-15 00:30] bubenshchykov commented on #177
btw, you should ping @inconshreveable and list it on https://ngrok.com/docs#compat-subject#visual-studio

[2020-06-21 03:31] sandhuharjodh opened #182 "Error unpacking binary Error"
Getting following error when i run command npm install/yarn install. It is a package which is required in react native NativeBase-KitchenSink
[code]

[2020-06-21 12:45] taylay19 opened #183 "A"

[2020-06-22 14:13] MahbbRah commented on #180
Same issue here for me! even it's not running the tunnel hanging up when I'm doing like this `./ngrock http 80` just shows nothing and been there for hours!

[2020-07-10 00:53] #183 closed

[2020-07-18 01:19] hintecher opened #185 "bin.equinox.io is Down Again"
bin.equinox.io is not working please provide a solution .

[2020-07-22 15:39] zlshames opened #186 "authtoken function types are incorrect"
The type definition specifies that it's parameters need to be a string. The setAuthToken function's parameters are slightly different, though, authtoken is just an alias for it. Here is the correct type definition:

`export function authtoken(optsOrToken: string | INgrokOptions): Promise<any>;`

[2020-07-22 19:56] quinkennedy opened #187 "NPM instruction out of date?"
the usage instructions show using async/await. I was getting warnings and errors until I used promises. The issue was that I needed to use my authtoken, but by not using promises, the errors reported were confusing and unhelpful.

code I ended up with:
[code]

node 12.8.0
yarn 1.12.1

errors I was getting before switching to promises:
[code]

[2020-07-22 22:54] kitsune7 opened #188 "Is it possible to access localhost with https so the connection is secure the entire time?"
Looking into [this issue](https://github.com/inconshreveable/ngrok/issues/448), it seems it's possible to do from the command line, but I'm struggling to get the same thing working with this library. I'm wanting to keep things free and avoid a paid account.

According to the ngrok documentation, I should just be able to run a command like `ngrok http https://localhost:8443` to get it working for l

[2020-07-22 23:06] kitsune7 commented on #188
Wait. No, I'm blind. I can just use the `addr` field. I totally skipped over the part that said you can use a port OR a network address.

It's working now.

[2020-07-22 23:06] #188 closed

[2020-07-24 21:52] Beelucky opened #189 "unlimited connection time needed"
Hi,Buben....I have read the server info into an aws amazone but the trick webhook does not have more than one connection and in the end it gets a connection error and now the question is whether the creator of the call can do conection time simultaneously for examples found a lot of busyness in tunnel bandwidth?

And another one for the **ngrok.exe** application that can't be run with CMDLine on w

[2020-07-29 20:22] dkundel opened #190 "Support to disable downloading via env variable"
Since the download functionality was factored out, could we have an environment variable that allows you to disable the automatic download of the binary in the postinstall hook? We could have a similar approach to [Cypress](https://docs.cypress.io/guides/getting-started/installing-cypress.html#Environment-variables) where you can specify `0` instead of the path to the binary in order to not downlo

[2020-08-09 19:30] SilverStrings024 opened #192 "Extremely slow, esspecially with POST requests"
Hello! I know an issue has been submitted for slowness but there wasn't an answer on how to fix it. I can do some coding on my side if anyone has any ideas on how to speed it up but I was trying to show my testers the website today and static pages took well over 2 full seconds to load and POST requests took literal minutes. I know this isn't a problem with my query times or anything because...aga

[2020-08-21 08:36] bubenshchykov commented on #190
great idea, feel free to add it

[2020-08-24 05:02] philnash commented on #186
This has been fixed in #193 and will be released soon.

[2020-08-24 05:02] #186 closed

[2020-08-24 05:05] philnash commented on #185
That is the URL that the various ngrok executables are hosted at. It is a [service for packaging and distributing Go applications](https://equinox.io/) and it is used by the creators of [ngrok (the application and service)](https://ngrok.com/) for distributing the executable.

This project is Node.js wrapper around the ngrok executable, so sadly if the Equinox server is down then there is little w

[2020-08-24 05:05] #185 closed

[2020-08-24 05:06] philnash commented on #177
This has been implemented and merged in #181.

[2020-08-24 05:06] #177 closed

[2020-09-04 20:15] Beelucky commented on #192
I have tested the internet service provider with ngrok, when anyone enters the ngrok address then in the end my bandwidth attracts another connection and it is like making a download for me who runs ngrok and not the client or other people who download it. Let's simplify that again You know when the ngrok program is activated every client or someone else enters the ngrok address so I also download

[2020-09-04 20:31] Beelucky commented on #174
Binary have a call amazon serverlet and resolve is create excluder commandline / CLI to another overlay scope

[2020-09-04 20:36] Beelucky commented on #138
As well as you know,billing plan PRO can be reach the other port 80 ,its too expensive when your needed just to partice project up !

[2020-09-15 17:06] jamesmiller9048 opened #195 "Ngrok tunnel not found"
I tried social pish inside local network it's okay but outside the network the following error is shown
tunnel url.ngrok.io not found
So I went to the terminal where I started ngrok and saw some errors 404 and 503
Same thing while trying to use it for metasploit inside the network it's okay but outside the network it's not working

[2020-09-15 17:10] jamesmiller9048 opened #196 "Ngrok TCP port forwarding not working outside the network"
While trying to use it for metasploit inside the network it's okay but outside the network it's not working
The listener starts and waits for the connection but no session opens up

[2020-09-15 22:52] philnash commented on #196
Hey @jamesmiller9048, is this a problem with this Node.js wrapper for ngrok, or the ngrok executable and service itself?

Also, I'm not sure what you mean when you say it works "inside the network" but not outside.

[2020-09-15 22:54] philnash commented on #195
Hey @jamesmiller9048, is this the same issue as #196?

[2020-09-16 02:05] jamesmiller9048 commented on #195
Please help me

[2020-09-16 02:13] jamesmiller9048 commented on #196
As per the instructions I downloaded the zip file and extracted it and there was executable file I guess and then l authorised with authtoken command and then ran it

[2020-09-16 04:42] philnash commented on #196
Ah, ok. It sounds like you are dealing with ngrok itself. This is an unaffiliated integration for Node.js that you would install with `npm install ngrok` (and uses the ngrok executable under the hood). We aren't responsible for issues with ngrok itself.

I recommend you ask your questions of the [ngrok team](https://ngrok.com/). They have a chat widget that connects you with support on ngrok.com.

[2020-09-16 04:45] jamesmiller9048 commented on #196
But both are same rite
Both are used for port forwarding rite?

[2020-09-16 05:24] philnash commented on #196
So, it might be a little unclear given the naming of this repo, but this project is simply a way to use ngrok within Node.js/JavaScript programs. It is not built or maintained by the ngrok team at all.

It doesn't look like you are having trouble with this project, so we can't help and you should direct questions to [ngrok support](https://ngrok.com) as I suggested, or [searching for and asking qu

[2020-09-18 07:06] mmenozzi opened #197 "Cannot use configPath and name"
Hi,
I'm trying to use only `configPath` and `name` to configure my tunnel.

Given this ngrok config:

[code]

And this code:

[code]

I'd expect to have a tunnel open on port 8000. Instead if I open the `ngrokUrl` I see that the tunnel is open on port 80.

I think this happens because of this `default` function:

https://github.com/bubenshchykov/ngrok/blob/b61ebcf90790a64e321e4977b6f865c827bc26e1/

[2020-09-18 11:41] Ramonzinho121 opened #198 "Invadindo câmeras de outro Android pelo termux"
Apt update
Apt upgrade
Pkg install git
Pkg install python
Git clone https://github.com/hangetzzu/saycheese
Ls
 Cd saycheese
Chmod +x *
Ls
./saycheese.sh

[2020-09-20 04:31] philnash commented on #198
I am not sure why you have raised this as an issue in this repo.

The SayCheese repo appears to use ngrok or Serveo to make a local web server available so that a URL can be sent to someone. Looking through the repo, it checks for the existence of the ngrok executable and doesn't use this Node package.

Further, the supposed malicious site uses the `MediaDevices.getUserMedia` function to ask for p

[2020-09-20 04:31] #198 closed

[2020-09-24 18:54] iDRAGOO commented on #130
for those ngrok not launching  go to settings in windows 10 then network and internet settings then go to properties of your wifi connction and set network profile to public i hope this helps and sorry for my bad english

[2020-09-24 18:55] iDRAGOO commented on #180
for those ngrok not launching  go to settings in windows 10 then network and internet settings then go to properties of your wifi connction and set network profile to public i hope this helps and sorry for my bad english

[2020-11-02 09:17] webhacking commented on #99
I have the same problem. Did you find a solution?
I'm paid a plan;;;;; sibar

[2020-11-29 08:05] mayeaux commented on #161
What'd you end up doing?

[2020-11-29 09:21] tngflx commented on #161
Nothing mann. Still unresolved

[2020-12-01 06:29] arunpkumar92 opened #200 "error code ELIFECYCLE"
2113 error code ELIFECYCLE
2114 error errno 1
2115 error ngrok@3.3.0 postinstall: `node ./postinstall.js`
2115 error Exit status 1
2116 error Failed at the ngrok@3.3.0 postinstall script.
2116 error This is probably not a problem with npm. There is likely additional logging output above.
2117 verbose exit [ 1, true ]

[2020-12-01 22:35] philnash commented on #200
Hi @arunpkumar92, thanks for this report. Could you give a few more details please? To start, what operating system are you running this on? Also, what Node version? And was there any other relevant logs in the output from before this error?

[2020-12-04 07:04] arunpkumar92 commented on #200
OS -  Catalina
node - v12.13.1

[2020-12-04 07:59] philnash commented on #200
Thanks for those bits, can you also let me know whether there were any other logs in the output from before the error?

[2020-12-04 22:22] nilleb opened #201 "error ngrok - platform darwinarm64 is not supported."
on apple M1 arm64, I just get
[code]

[2020-12-04 22:27] nilleb commented on #201
This is possibly just question of adding a new key to download.js, to use the amd64 binary.

[2020-12-05 05:34] zek7rom commented on #10
Go to https://ngrok.com/  create an account, download the ngrok zip file off the website, unzip the file. Then go in your Command Prompt and cd to that folder, once you do that, do "ngrok" to make sure it gives you a list of all the commands, it will also tell you the version of ngrok you install etc. From there type "ngrok http 80" and it should work.

[2020-12-05 06:30] philnash commented on #201
Are you able to try that out? I don't have the hardware to test with.

[2020-12-05 15:41] nilleb commented on #201
Yes, I confirm that this solved the problem!

[2020-12-22 01:10] #201 closed

[2020-12-30 23:08] Cheposik opened #203 "Ngrok"

[2020-12-30 23:15] philnash commented on #203
Hey @Cheposik, thanks for opening an issue. Can you fill in some more details on what your issue is though, please?

[2020-12-30 23:17] #203 closed

[2020-12-31 01:31] Cheposik opened #204 "Why does Session Status always reconnect? I can't get a link:("
![IMG_20201231_043051.jpg](https://user-images.githubusercontent.com/76786252/103389613-fe27f400-4b20-11eb-99a8-543e495b7af5.jpg)
![IMG_20201231_043710.jpg](https://user-images.githubusercontent.com/76786252/103389784-092f5400-4b22-11eb-8d57-6e8e133f8dd4.jpg)

[2020-12-31 02:14] philnash commented on #204
Hey @Cheposik, thanks for coming back in a new issue!

Sadly, this is the repo for the [Node module](https://www.npmjs.com/package/ngrok) that controls the ngrok executable and not ngrok itself. We have no affiliation with the ngrok service or the executable itself. I'd recommend bringing this up with ngrok themselves. You can get in touch with ngrok support by heading to [https://ngrok.com](https

[2020-12-31 02:14] #204 closed

[2021-01-06 16:15] aksridhar commented on #142
Hey Alex - I know this is a old thread. I am having issues installing ngrok with npm due to firewall restrictions. I tried setting the environment variables in .npmrc file as well in .yml file for the Custom path for the binary but somehow 3.4.0 seems to be ignoring this. Can you provide more insight on how to get this thing point to a specific path. Appreciate your help.

[2021-01-12 12:25] philnash commented on #197
I have been thinking about this issue since you raised it and I wish I'd just started work on it earlier.

You are right that the name is effectively overwritten by the addr and proto, however that's not the whole story.

When this module starts a tunnel, it starts the ngrok service and then uses its REST API to make requests to it. To start a tunnel you [make a POST request to the `/api/tunnels`

[2021-01-29 09:57] AnasterianSunstrider commented on #180
I have the same issue and Ive downloaded it from the official website.

[2021-01-30 00:50] philnash commented on #180
If you have downloaded ngrok from ngrok.com and it doesn't work then we can't help you from this repo. This repo is about the Node.js module that can control the ngrok executable.

Instead, I recommend you get in touch with the ngrok team by chatting live or submitting a support ticket through [ngrok.com](https://ngrok.com). You can do this by visiting [ngrok.com](https://ngrok.com) and clicking "

[2021-01-30 00:50] #180 closed

[2021-02-06 18:35] d2bspzoo opened #207 "ngrok craches on macos 11.2 on M1 processor"
Hi,

I found that ngrok implementation in expo (@expo/ngrok) crashes on macOS 11.2 on M1 processor.
It returns:
Tunnel URL not found (it might not be ready yet), falling back to LAN URL.
Error starting tunnel Starting tunnels timed out.
When I check Console, there is a crash report on that.
I checked the same project on macOS 11.2 running on Intel processor and everyting works as a charm.

Jakub

[2021-02-06 22:18] philnash commented on #207
[`@expo/ngrok` seems to be a separate fork of this project](https://github.com/expo/ngrok). However, the issue is more likely with the [ngrok project](https://ngrok.com/) itself rather than one of the Node.js wrappers. I would recommend heading to [ngrok.com](https://ngrok.com/) and using the "Ask a question" button which sends questions and issues to the ngrok team.

[2021-02-06 22:18] #207 closed

[2021-02-07 11:30] d2bspzoo commented on #207
Hi
Thanks for your reply.

Ngrok works fine by it self on macOS 11.2 on M1 processor. I can establish a tunnel manually for terminal. It looks like @expo/ngrok crashes and indeed it is forked from here :)

Best regards Jakub

[2021-02-07 11:41] philnash commented on #207
You could try installing this project, which is just `npm install ngrok`, to see if it runs on the M1. Maybe it will be able to solve your problem.

[2021-02-07 12:42] d2bspzoo commented on #207
I installed ngrok 3.4.0 using yarn. I have the same results i.e. crash, but I am not sure if expo is using 3.4.0 or by default 2.4.3 which is actually @expo/ngrok.

[2021-02-07 22:13] philnash commented on #207
Does the ngrok executable, downloaded from [ngrok.com](https://ngrok.com), work for you?

[2021-02-08 11:06] d2bspzoo commented on #207
Yes it works (version 2.3.35). I am using it as a kinda workaround of the problem, but it is painful :)

[2021-02-08 19:38] philnash commented on #207
Can you share the stack trace of the error when using the `ngrok` project? (Not `@expo/ngrok` as I can’t help with that.)

[2021-02-08 20:27] cindyjyuan commented on #174
Getting this same issue. Were you able to resolve it?

[2021-02-08 22:15] philnash commented on #207
Also, you can pass a `binPath` option to `ngrok.connect` to use a different installation of ngrok.

[2021-02-10 09:26] amitsadaphule opened #208 "License info missing in the repo"
Hi, I could not find any license info or LICENSE file in the repo. [npmjs.org](https://www.npmjs.com/package/ngrok) mentions **BSD-2-Clause** in the license field for ngrok. I'd really appreciate if someone can confirm that or point me to the correct LICENSE file/documentation for this repo? Thanks in advance!

[2021-02-10 11:22] philnash commented on #208
Hey @amitsadaphule, the license is listed in the [package.json](https://github.com/bubenshchykov/ngrok/blob/master/package.json#L34).

[2021-02-10 11:22] #208 closed

[2021-02-10 12:18] amitsadaphule commented on #208
Thanks a lot @philnash!

[2021-02-12 10:10] penguine opened #209 "ngrok over proxy"
when I test with command-line ngroks works fine over squid-proxy.
When I use you node project it works without proxy. When I use node with proxy the following bug returns:
/head><body id=ERR_CONNECT_FAIL>

<div id="titles">

<h1>ERROR</h1>

<h2>The requested URL could not be retrieved</h2>

</div>

<hr>

<div id="content">

<p>The following error was encountered while trying to retrieve the URL: <

[2021-02-12 21:57] philnash commented on #209
Hello, can you explain a bit more about the setup here and what to do to reproduce this error? How have you got Squid configured, how are you running ngrok with Node and how are you trying to access the dashboard to produce this error?

Thanks!

[2021-02-13 17:25] penguine commented on #209
I think squid can not be the problem. I have tested several squid. On my test environment all squid rules are allowed.
you can reproduce the error, when you have a squid proxy and you configure the http_proxy for ngrok.connect.
The main traffice is going over proxy. But when ngrok try to call the local webinterface (localhost:4040) it fails.
When you set "web_addr: ip-adresss:port"  in ngrok.yml.

[2021-02-13 21:47] philnash commented on #209
It's not that I think squid is the problem, it's that I don't know how to setup and configure squid myself in order to reproduce this. Can you help?

[2021-02-14 09:22] penguine commented on #209
With pleasure ;-)

If you have an ubuntu VM on your system you can install with:

[code]

in

[code]

your default proxy port is

[code]

you can set in development

[code]

restart

[code]

you find the access log with:
[code]

[2021-02-14 22:09] philnash commented on #209
Thank you! And then do you have an example of the code you're using that is failing too?

[2021-02-15 04:52] #192 closed

[2021-02-15 10:39] penguine commented on #209
[ngrok.zip](https://github.com/bubenshchykov/ngrok/files/5980995/ngrok.zip)

[2021-02-19 10:18] uhagemann opened #210 "Promise not resolving when using "log_format: json""
Hi, just stumbled this problem, since I had a ~/.ngrok2/ngrok.yml user config file with "log_format: json" in it and wondered why ngrok.connect would not resolve. Reason is that process.js assumes "logfmt" log format, which seems to be default, and gets stuck when confronted with json log entries.
Kind regards!

[2021-02-21 01:13] brendo-m commented on #207
I've run into the same issue and have done some poking around.

https://github.com/expo/ngrok/blob/master/packages/ngrok-bin/index.js resolves `ngrok-bin-darwin-x64` but we actually need `ngrok-bin-darwin-arm64`.

When I replace the binary with the right one from ngrok.com it no longer hangs and times out but I get `ngrok is not yet ready to start tunnels`. Haven't determined if this is due to my

[2021-02-21 01:25] brendo-m commented on #207
Problem is https://github.com/bubenshchykov/ngrok/issues/148

I confirmed it works after hacking in a check for 503 error code

[2021-02-21 03:53] philnash commented on #207
Hey @d2bspzoo and @brendo-m, you're both talking about `@expo/ngrok` which is a fork of this project that was last updated a couple of years ago. This [project does test for 503s](https://github.com/bubenshchykov/ngrok/blob/1963e3a5e592df98ecd21404aec758055d444774/src/utils.js#L39), for example.

This issue is already closed, since I can't fix expo/ngrok from here. I suggest you take the issue up

[2021-02-21 04:26] brendo-m commented on #207
Ah my bad, I thought I was commenting on the right issue. Thanks!

[2021-02-21 05:31] philnash commented on #207
@brendo-m No problems! Just pointing out that I couldn't help here. Hope you get things sorted!

[2021-02-21 06:09] philnash commented on #210
That's an interesting one. I'll have a look into sorting that soon.

[2021-02-22 07:02] spiderlord202 opened #212 "Failed to open private leg"
I keep getting this issue:
`t=2021-02-22T06:15:04+0000 lvl=warn msg="failed to open private leg" id=001c7f29800c typ=proxy` `privaddr=localhost:25565 err="dial tcp 127.0.0.1:25565: connect: connection refused"`

What does it mean? and how do I fix it?

Additional info:
I am hosting a Minecraft server and using ngrok to forward the port.

[2021-02-22 07:34] philnash commented on #212
Are you getting that issue when you use the Node.js ngrok package or when you use the ngrok executable from ngrok.com?

[2021-02-22 07:53] spiderlord202 commented on #212
I am using the Node.js package.
Code:
` Port = await ngrok.connect(`
 ` {`
` authtoken: "1ooYkVcrTifmLKOY63csrOjUEJP_3WkUW2VQeF89sHjpvf2FM",    configPath: './ngrok.yml', proto: ``'tcp', addr: 25565, `
  ` region: 'eu', onStatusChange: status => {`
   `    console.log(status)`
 `  }, `
	`onLogEvent: data => {`
      `if (SetUp){`
    `    console.log(data)`
    `  }     `
  `   },`
`  }`
` )`
`.th

[2021-02-22 10:20] philnash commented on #212
Any of the ideas/comments in [this issue help](https://github.com/thecoder-001/MineColab/issues/21)? It looks like they are trying to do something similar, though using a different ngrok library.

[2021-02-22 18:31] spiderlord202 commented on #212
So wait. Do I have to include the original server ip somewhere? If so where?

[2021-02-22 18:55] spiderlord202 commented on #212
One person said they fixed it by including the ip but besides that nothing else there helped me

[2021-02-23 00:15] philnash commented on #212
I'm afraid I have no idea what you are actually doing with this Minecraft server, so I can't make suggestions without any more context. What IP address and port is your Minecraft server running on?

[2021-02-23 00:58] spiderlord202 commented on #212
The current ip/port is "0.tcp.eu.ngrok.io:14595". When I try and join it will either say connection refused(failed to open private leg) or connection timed out(join connections). Is there any info I can provide that can help you figure out how to solve this issue?

[2021-02-23 01:59] philnash commented on #212
The more context you can give me about what you're doing, the more likely it is I can help. But I genuinely don't know what your setup is or what you're trying to achieve here. If you can tell me more about the server you are trying to open a connection to, I might be able to help.

[2021-02-23 07:21] spiderlord202 commented on #212
Well for starters the service I am hosting my server on is something.hosts free discord bot service with 2gs of RAM and node.js already installed. The reason I started using ngrok is because a person there affiliated with something.host said "You can host minecraft server in free discord hosting but you can't connect minecraft server over internet. Or ... Connect locally? [Port 2000 only works for

[2021-02-23 10:55] philnash commented on #212
You're starting up the Java program, the minecraft server, then trying to connect to it with ngrok. I wonder if it takes a while for the TCP server in the minecraft server to start up. Have you tried delaying starting ngrok?

Also, I'm not sure I feel good about helping you illicitly run a minecraft server for free on a server only meant for discord bots. I don't think this is an intentional use f

[2021-02-23 10:55] #212 closed

[2021-02-25 00:33] spiderlord202 commented on #212
This was authorized by the same person affiliated with something.host that explained to me how I could do it. One of the managers did not say I was not allowed to do it, they were skeptical if it was possible to host a minecraft server on my service. I reserved a part of my service for my discord bot because the purpose of it was so people can use the bot to tp people to other servers (within the

[2021-02-26 03:00] philnash commented on #212
Did you try delaying starting ngrok?

Did this person include instructions on how to achieve this?

[2021-02-27 06:55] spiderlord202 commented on #212
1. I tried that
2. Not exactly. He just recommended port forwarding but there have been some developments.
Turns out I needed to open a port. I used express (a node module) to fix this but I still can't join the server and I am always getting: <h5>t=2021-02-27T06:04:26+0000 lvl=info msg="join connections" obj=join id=76a91e1e6afb l=127.0.0.1:25565 r=27.252.93.206:57275</h5>

I also got this log:
<

[2021-02-27 07:07] spiderlord202 commented on #212
And here is the full ngrok log:
<h5>t=2021-02-27T07:06:09+0000 lvl=info msg="open config file" path=/home/container/node_modules/ngrok/bin/ngrok.yml err=nil
t=2021-02-27T07:06:09+0000 lvl=info msg="starting web service" obj=web addr=127.0.0.1:4040
t=2021-02-27T07:06:09+0000 lvl=info msg=start pg=/api/tunnels id=7beb93b317a8ef00
t=2021-02-27T07:06:09+0000 lvl=warn msg="ngrok is not yet ready to sta

[2021-02-27 22:44] philnash commented on #212
I think your problem lies with the way you are interacting with the Minecraft server at this point.

The second to last log from ngrok that you shared show that it started the tunnel successfully.

[code]

The other logs you show seem to come from either your Node/Express server or the Minecraft server.

If I were you I would return to the person who suggested this method of setting up a Minecraft

[2021-03-01 06:39] vamsikrishnachevikala-web commented on #99
I am using the ngrok in ubuntu 18.04 for live streaming. speed of the my live streaming is extremely slow. Can any one tell me the reason for that and also provide me the solution to solve the issue.
Thanks in advance.

[2021-03-08 04:02] spiderlord202 commented on #212
So your advice helped and I am almost finished. I am going to host a postgres db on something.host and make it public and now for this to work I need to kind of reverse it and tunnel an existing ngrok connection to localhost, this is why: https://node-postgres.com/features/connecting

[2021-03-08 06:51] spiderlord202 commented on #212
@philnash

[2021-03-09 01:01] philnash commented on #212
ngrok does not, to my knowledge, work to tunnel to the `postgresql://` protocol and I've not used ngrok to tunnel to a PostgreSQL database before myself.  I guess that maybe a tcp connection would work, and for that, you'd need the port number your database is running on (typically, that is 5432).

[2021-03-11 02:02] RongxinZhang opened #213 "Nodemon restart: causes 103 error"
Hi,

### Context:
I'm currently using Ngrok within my express app.
I run my app using `nodemon  --ignore './profiles/' --exec ./bin/www`

In my main app file, I have routes and Ngrok:

[code]

### Problem:
Every time I make an edit to the page, nodemon restarts the app.
I then get the following error:

[code]

I've googled around and looked the current issues and found this: https://gist.github.co

[2021-03-12 17:00] ryantheleach opened #215 "Dev/daemon/sticky url mode"
When quickly restarting an application during development, using NGrok as an NPM module has the distinct disadvantage of randomising your url each time, compared to running the binary directly.

It would be interesting if this library could provide an option to cache the NGrok process used, for X minutes after the application ends / restarts, as long as the configuration hasn't changed. (File or o

[2021-03-14 00:23] philnash commented on #215
Would doing [something like this](https://gist.github.com/spalladino/45a6e54d7942ac0bad64dd54d7d12467) work for you? It uses [nodemon](https://nodemon.io/) and ngrok together to start a tunnel and watch for application changes and only restart the application and not ngrok.

[2021-03-15 11:48] philnash commented on #215
I wrote up an up to date version of that script and how to use it. Check out [this blog post](https://philna.sh/blog/2021/03/15/restart-app-not-tunnel-ngrok-nodemon/) and let me know if it helps at all.

[2021-03-16 08:11] ryantheleach commented on #215
Thanks!

[2021-03-16 23:42] philnash commented on #215
@ryantheleach did that work for you? Can I close this issue?

[2021-03-17 04:00] ryantheleach commented on #215
It will work, but I consider it a workaround compared to actually adding it as an option, or giving that blog post visibility in the readme / node page. It would be handy for more then just me.

[2021-03-17 04:57] philnash commented on #215
@ryantheleach I'll happily link this from the README. I don't think this is something that we can build into this project though. Once you close a Node process, you don't want the processes within it to continue as zombies. So, when you close the parent process, the ngrok process will close and take the tunnel down.

Before using this project, I would just use the ngrok executable in another termi

[2021-03-17 12:00] AshakaE opened #217 "Upon install `npm install ngrok -g`"
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm ERR! code EINTEGRITY
npm ERR! sha1-3zrhmayt+31ECqrgsp4icrJOxhk= integrity checksum failed when using sha1: wanted sha1-3zrhmayt+31ECqrgsp4icrJOxhk= but got sha512-8fgKh6QkMYF/Zge2SYHiZQoR8KRe2sl59Jtj8OuXKWusnT4kHJMJIVMbT+9/86zFF+w96ORgjmh37PBPjN38aQ== sha1-myXBGEEnMwIvDc/HLx58hwl

[2021-03-17 22:09] philnash commented on #217
This is likely a mismatch between npm versions. There's a good blog post on what might be going on and how to fix it here: https://platformengineer.com/fix-npm-err-code-eintegrity-verification-failed-error/.

That deprecation notice will also go once I've released version 4 with [this PR](https://github.com/bubenshchykov/ngrok/pull/191) as part of it.

Let me know if you get it sorted.

[2021-03-19 10:02] AshakaE commented on #217
Everything works fine, I believe the new npm update solved the issue

[2021-03-19 10:02] #217 closed

[2021-03-22 12:09] philnash commented on #215
Updated the README to link the blog post: https://github.com/bubenshchykov/ngrok#using-with-nodemon

[2021-03-22 12:09] #215 closed

[2021-03-22 12:11] philnash commented on #213
I don't think that running ngrok from within a nodemon controller process is a good idea, since nodemon will restart the process which will kill the ngrok tunnels.

I'd recommend building a script to run nodemon and ngrok together, so that ngrok can stay live while nodemon restarts the process, as I wrote up in [this blog post here](https://philna.sh/blog/2021/03/15/restart-app-not-tunnel-ngrok-no

[2021-03-27 13:41] realrecordzLab opened #218 "set binPath for Electron"
I've installed the library to create a tunnel between my Electron app and internet. I'm not sure if I'm doing it in the right way but I'm unable to use ngrok.

[code]
When I run the app in serve mode I always get this error:
[code]
I've also tried to set the `binPath` but without success. Any idea of how to make things working?

[2021-03-28 01:57] philnash commented on #218
I see that line about setting the `binPath` in electron comes from the README. It does specifically say that it is for production deploys of an electron app. Are you finding this doesn't work when developing the app?

I have played around with this package in an electron app before and I didn't not package it for production. I found I did not need to set the `binPath` in development at all.

So, I

[2021-03-28 02:32] TheBotlyNoob opened #219 "UDP?"
Or some other program that has a javascipt api and UDP?

[2021-03-28 03:40] philnash commented on #219
ngrok does not support UDP, that I know of.

Other people want this feature too. Here are some links that might help with suggestions:

- https://www.reddit.com/r/networking/comments/ji000n/ngrok_udp_alternative/
- https://github.com/inconshreveable/ngrok/issues/422
- https://github.com/inconshreveable/ngrok/issues/26

I'll close this issue as it's not something that can be fixed in this project.

[2021-03-28 03:40] #219 closed

[2021-03-28 12:04] realrecordzLab commented on #218
The error happens also if the `binPath` isn't set inside the config options, not only in production.

[2021-03-28 12:28] philnash commented on #218
What is the error when you don't provide a binPath?

[2021-03-28 12:29] realrecordzLab commented on #218
I'ts the same of the issue

[2021-03-28 22:05] philnash commented on #218
It looks like you are maybe trying to package the application somehow, is that right? Your code is looking for the ngrok binary in the `dist_electron` directory. I guess you are using electron-builder for this? I haven't used that before, so I don't know how to help straight away.

Can you look through the `dist_electron` directory and see whether the ngrok binary is located somewhere else that yo

[2021-03-29 06:57] realrecordzLab commented on #218
I'm using vue-cli-plugin-electron-builder and in serve mode to test the app
there are only two files generated from webpack . in production all modules
and files are bundled inside the app.asar file. Not sure if the ngrok
binary is copied because the bundled folder that is the unpacked version of
the app have an empty node_modules folder

Il giorno lun 29 mar 2021 alle ore 00:05 Phil Nash ***@***.

[2021-03-29 07:45] philnash commented on #218
Can you create a minimal reproduction of this error that I can take a look at?

Also, notably with this project, the ngrok executable for the relevant system is downloaded at install time with a postinstall script. So it shouldn't be copied into the build, unless you are copying in a different ngrok executable per OS build. If the postinstall step is not run by the application, you may instead wan

[2021-03-29 10:48] realrecordzLab commented on #218
The reprodution is the one of the code at the top issue.

[2021-03-29 11:02] philnash commented on #218
I have never created a `vue-cli-plugin-electron-builder` application before, so I'd appreciate a bit more help reproducing this issue if I'm going to help you solve it. Thanks!

[2021-03-29 12:05] realrecordzLab commented on #218
what info can help you to reproduce the issue? As I know it's the same of setup a normal electron app

[2021-03-29 12:12] philnash commented on #218
I've never run a `vue-cli-plugin-electron-builder` project before. What do I do to create the application? Where do I put the code above for it to run? How do I run the application?

I need instructions to get to the point of reproducing the error, then I can try to work out how to fix it for you.

[2021-03-29 12:52] realrecordzLab commented on #218
You need to have vue-cli installed, create a new project uting it or using the vue ui that have a GUI to do the same things of the pure cli.

After you've added the plugin and ngrok as project dependencies you need to create a preload.js file to be able to use the ipc from the renderer. More info are [here](https://nklayman.github.io/vue-cli-plugin-electron-builder/guide/security.html#node-integra

[2021-03-29 12:58] philnash commented on #218
Is there a chance you could create this example project and upload it to GitHub so that I can just clone it and get to debugging?

[2021-03-29 16:10] realrecordzLab commented on #218
here is the exact copy of the files that I'm working on https://github.com/realrecordzLab/temp-electron/ let me know when you've cloned so I can remove the repo.

[2021-03-29 22:28] philnash commented on #218
I have cloned the repo. Will see what I can find.

[2021-03-30 11:49] philnash commented on #213
Hey, I'm going to close this as it's been quiet for a week and I believe my previous comment should help. If you are still having trouble, please re-open and let me know.

[2021-03-30 11:49] #213 closed

[2021-03-31 22:09] bn185068 commented on #148
Hi all, I notice that this was resolved and closed; however, we are experiencing the same issue, and we are running `ngrok@3.4.0` in a docker container. Any guidance on what may be continuing to cause this error for us?

[2021-04-01 10:01] realrecordzLab commented on #218
Any news about the problem?

[2021-04-02 04:33] philnash commented on #218
Ok, I had a play with it and figured out the issue.

The problem is that when you build the application, in either dev or production, the binary from the ngrok package is not part of the build. However, this is likely something that you want, since the binary that you have downloaded on the system on which you are building the application is not necessarily the one that is going to run on the syst

[2021-04-02 04:33] #218 closed

[2021-04-02 12:34] realrecordzLab commented on #218
So I need to implement the download function code into the app or call it as a separate script during the build?

[2021-04-02 13:10] realrecordzLab commented on #218
Ok, so this isn't a bug in the library but only the desire beahviour. If I understand, the library will not download the ngrok executable and needs to be instructed to do it based on the platform where the final electron app will run, rught? I saw the download ngork binary link youn've suggested, it include a callback, can you show an example for electron usage? I'm not planning to have a callback

[2021-04-03 02:15] philnash commented on #218
That's correct. In normal use, this library will download the correct ngrok executable in a postinstall script. But, because you are building an electron app, that doesn't happen. Instead, you need to download the executable within your application.

I have not written this code within an electron app, so my best example is the VS Code extension that I have already linked you to. Technically that

[2021-04-03 02:18] philnash commented on #148
@bn185068 Is there any further information you can provide to help look into this? This has been marked resolved because the library now checks for 503s and continues to retry until ngrok connects.

[2021-04-05 11:56] realrecordzLab commented on #218
I'm not sure if I'm implementing ngork binary download in the right way but I'm getting this error in console

[code]

I've implemented this code block when the `ipcMain` process receive the `start-server` comand. It's supposed to check if the path where ngrok binary is supposed to be saved and if not download it. Anyway I'm not able to see the reply message with the tunnel address in front-end

[

[2021-04-06 01:51] philnash commented on #218
Have you confirmed that the ngrok executable has been downloaded to `/Users/dev/Sites/chrok/dist_electron/bin/ngrok`?

What happens if you use that path when you try to start ngrok?

[2021-04-06 08:38] realrecordzLab commented on #218
I didn't tested yet, I'm refactoring the code to make it more modular. I will try, and let you know

[2021-04-06 18:04] bn185068 commented on #148
@philnash unfortunately, I can't share our codebase. However, I think I may have figured it out. For whatever reason, my global npm env is locked into using ngrok version `2.3.38` despite the fact that my node project is using 3.4.0. I can't get it to upgrade despite running `npm i -g ngrok@version.number`. This is clearly a different problem than this issue, and I will attempt to resolve on my ow

[2021-04-06 22:36] philnash commented on #148
@bn185068 There can be some confusion between the original ngrok executable and this ngrok Node package. The latest version of the ngrok executable is indeed 2.3.38. From what I can see, the executable `ngrok` function from this package actually points to its locally installed version of the ngrok executable, so I would expect that to be version 2.3.38.

Note, you can also find the underlying vers

[2021-04-07 19:05] bn185068 commented on #148
@philnash forgive me, but now I'm rather confused. Running `ngrok --version` in my terminal results in `2.3.38`, which makes sense based on what you're saying because that would be the executable. I also have a node project where ngrok is a dependency, and in that project, I just ran `ngrok.getVersion()` and that version is also `2.3.38.` So which ngrok has a version `3.2.3` where this error is fi

[2021-04-07 23:24] philnash commented on #148
Yes, both of those versions refer to the underlying ngrok executable, the same one you could get by downloading from ngrok.com. The version of the ngrok package you are using will be listed in your package.json (and more accurately in your package-lock.json).

Yeah, if you can successfully run the container and connect to ngrok on different hardware, then it sounds like something in the corporate

[2021-04-08 12:11] bn185068 commented on #148
I understand now, thank you for your patience and for the clarification. I'll continue to investigate, and if I come across anything that may be helpful to others in the future, I'll post it here.

Cheers! 🍻

[2021-05-03 17:09] Logikgate opened #222 "4.x fails to start ngrok process"
Using 3.4.1 has no problems, after upgrading to 4.0.1 the below error output happens.

Usage
[code]

Error Log
[code]

[2021-05-04 02:06] philnash commented on #222
Thanks for raising this @Logikgate. That is bizarre that the previous version worked and this one didn't though. The internal API call being made is the same, even if the HTTP client has changed.

I will do some testing to see if I can reproduce it. Can I confirm that if you downgrade the version that it still works?

[2021-05-04 03:15] Logikgate commented on #222
Yep I can confirm that after downgrading everything worked again

[2021-05-07 05:57] philnash commented on #222
Apologies, I've not had the time to reproduce this yet and I won't for the next couple of weeks. I suspect one of the options you are passing is causing some difficulty, but I don't know which one.

If you are able to look into this further, I'd appreciate any more insights. Otherwise I'm happy that you can hold on version 3.4.1 for now and I will get back to this when I return in a couple of week

[2021-05-16 06:40] #210 closed

[2021-05-20 19:43] MrRandom92 opened #224 "ngrok laggy and crashes"
Scaling Command Prompt after running `ngrok http 8080` with the top left corner causes cmd/ngrok to freeze/close.
Inspecting requests with the real-time web UI is laggy and causes the page to freeze.

**ngrok version:** 2.3.40 x64
**OS:** Windows 10 x64

The issue doesn't seem to be present in older versions such as v2.0.21.

_I understand this may be unrelated to the node wrapper._

[2021-05-21 03:02] philnash commented on #224
If you are running ngrok via the command line then the issue does not lie with the Node wrapper here.

I suggest you try using the "Ask a question" widget on ngrok.com, asking in [the ngrok forum](https://discuss.ngrok.com/) or asking about it [on Twitter](https://twitter.com/ngrok_).

[2021-05-21 03:02] #224 closed

[2021-05-21 03:41] MrRandom92 commented on #224
I just thought you should know about the issue in case others conflate it with the wrapper, as the Global install section of the readme includes the command line example ``ngrok http 8080``. Thanks anyway.

[2021-05-21 03:50] philnash commented on #224
@MrRandom92 Ah, I did wonder why you raised it and acknowledged that it is unrelated! Plenty of people raise issues with this repo that are the responsibility of the main ngrok executable. The README includes that command line example because installing this package globally will put the downloaded ngrok executable on the `PATH` and allow you to run it, but when you do, you are using the ngrok exe

[2021-05-24 11:46] tabvn commented on #207
i got same issue on apple macbook pro chip silicon.

anyone can recommend quick hack to fix ?

[2021-05-24 22:09] philnash commented on #207
@tabvn Are you using the latest version of this project? Or @expo/ngrok, like others in this thread?

[2021-05-25 00:46] tabvn commented on #207
@philnash yes i am, i 'm using latest version from Expo, i just bought apple m1 two days ago.

[2021-05-25 01:53] philnash commented on #207
@tabvn As discussed above, the [Expo fork of this library](https://github.com/expo/ngrok) is a fork of this project. It also hasn't been updated for about 3 years. This project does handle Apple M1 machines, as well as the 503 errors reported earlier too.

You have two things you can do. Either change your project to use this ngrok (available through `npm install ngrok` instead of `@expo/ngrok`),

[2021-05-25 01:58] tabvn commented on #207
@philnash  thank you. That mean i should wait for Expo team get this fixed.

[2021-05-25 02:02] philnash commented on #207
@tabvn Yes, if you can contact them and raise the issue with them, then they will have to fix it. It appears that they have moved their ngrok implementation into the [expo-cli project](https://github.com/expo/expo-cli/), and that you might be able to raise an issue there. Good luck getting it fixed.

[2021-05-25 02:05] tabvn commented on #207
@philnash thanks for your contributing (y)

[2021-06-06 10:13] hughrawlinson opened #225 "can't find the ngrok binary from inside a bundle"
Hi!

I want to use ngrok in a monorepo I'm working on, but I'm having trouble with process.js. My setup is such that I have a package inside my monorepo that isn't in root, and depends on ngrok. I also bundle this package because I write it in typescript, and need to publish it to the npm registry eventually as cjs. The issue that comes up is that when I bundle my code, process.js from ngrok is bu

[2021-06-07 00:56] philnash commented on #225
Hi Hugh! 👋

I have come across this myself, in my [ngrok extension for VS Code](https://github.com/philnash/ngrok-for-vscode). It has the same situation, it's written in TS and bundled to a single output file. The issue is the bundling, which, as you say, means the bin is no longer relative to `process.js`. I set the [binPath in the extension myself like this](https://github.com/philnash/ngrok-for

[2021-06-07 07:19] Viiprogrammer opened #226 "Crashes when calling disconnect function"
### Versions
**Electron:** v12.0.5
**Ngrok (package):** 4.0.1
**Node:** v15.12.0
**Ngrok (binary):** 2.3.40

When i call `ngrok.disconnect()` it's crashes with error:

[code]

I checked client.js:42 - it's `request(method, path, options = {})`. I think this error thrown when sending `api/tunnels` request.

[2021-06-07 09:50] hughrawlinson commented on #225
Ah, I didn't notice that was happening - I wonder if I had triggered a redowload if that would have worked. I think being able to set that would help, yes. I can't check now though because unfortunately my motherboard seems to have stopped working entirely! Or my PSU. Who knows. I'll check as soon as I can and update you!

Thanks Phil!

[2021-06-21 22:21] aecorredor opened #227 "Running inside AWS Lambda"
I have a use case where I'm running synthetic monitors on a lambda that run every X minutes. The purpose of the lambda is to run a local http server, run ngrok to tunnel that server, and then run some integration tests that make sure that a webhook API works correctly.

I'm running into issues with running the package inside a lambda context because the binaries are of course not included in the b

[2021-06-22 01:31] philnash commented on #227
Is there a reason that you don't put AWS API Gateway in front of your Lambda and make the request through there?

I would not have thought Lambda was a good environment for downloading and running a binary given the ephemeral file system.

[2021-06-22 03:45] robblovell commented on #222
there is a missing await in index.js in the connect:

This:
[code]
Should be:
[code]
What I have found is that sometimes it works, but if you are connecting and disconnecting a lot, it becomes undependable as I think there is a race condition without the await.

Also, there is a problem in the client code:

Here:

[code]
Some errors don't have a response or a response.body and you "typeerror canno

[2021-06-22 03:46] robblovell opened #228 "Unstable behaviour due to missing await"
there is a missing await in index.js in the connect:

This:
[code]
Should be:
[code]
What I have found is that sometimes it works, but if you are connecting and disconnecting a lot, it becomes undependable as I think there is a race condition without the await.

[2021-06-22 03:47] robblovell opened #229 "Error catch causes error that hides the real error."
Also, there is a problem in the client code:

Here:

[code]
Some errors don't have a response or a response.body and you "typeerror cannot read property 'body' of undefined", probably from the second catch... It would be better to just return the error. When doing so, you get a much more useful message that helped to debug the above missing await (ngrok is not yet ready to start tunnels):

in clie

[2021-06-22 04:35] aecorredor commented on #227
The thing is I’d like to use ngrok inside the lambda not only to expose the local http server I’m running, but to actually use the API to list requests and make sure webhooks are called. I’m not sure how API Gateway would come into play there. Here’s kind of what the test looks like (all runs inside the same lambda):

1. Run an http server
2. Run ngrok to expose the above server
3. Call an externa

[2021-06-22 04:58] #228 closed

[2021-06-22 05:29] philnash commented on #227
API Gateway is the AWS way to connect an incoming HTTP request to a Lambda. With a combination of API Gateway and Lambda you wouldn't need to run an HTTP server. You could just take the incoming requests from API Gateway to Lambda and then store them somehow. You may not need a database for the storage though, [you could log the requests and then verify them in Cloudwatch](https://docs.aws.amazon.

[2021-06-22 05:55] robblovell commented on #229
Perhaps there are changes in the replies from the NGROK api that are causing problems? Not sure. But it looks like there are some gremlins in here somewhere that cause the error handling to crash and the retry logic to fail.

Periodically, ECONNREFUSED 127.0.0.1:4040 is returned.

[2021-06-22 13:41] aecorredor commented on #227
Thanks for the all that insight and for being willing to debug. We're considering those workarounds if the ngrok idea doesn't fly.

As far as debugging what's happening when calling `downloadNgrok`, these are some info/error logs:
1. `INFO	ngrok - downloading binary https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip`
2. `ngrok - error storing binary to local file [Error: ENOENT: no

[2021-06-22 15:23] aecorredor commented on #227
That did it. I added some code to detect is we were on a lambda to change the `dir` accordingly. If it's something you'd like to add to the package I could make a PR, let me know. @philnash

[2021-06-22 22:52] philnash commented on #227
I would be interested in a PR that let you choose the location of the download, if that's the sort of thing you have added!

Outside of improvements to this project, and I know you've got it working now, but I want to question one last time your use of ngrok and an http server within Lambda. Lambdas are functions that you can trigger with a number of methods, one of which being an HTTP request thr

[2021-06-23 13:26] aecorredor commented on #227
Gotcha. I didn't add exactly that but I could tweak the code so it's like that.

Regarding the other point, you are right that the use case seems strange, and I do agree that using API Gateway so that webhooks trigger the lambda through it would also work. We started with this as an experiment to see if would work. We were just trying to keep that overhead of having the separate lambda + API gatew

[2021-06-23 13:26] #227 closed

[2021-06-26 07:04] philnash commented on #226
I think the work being done on #231 will help here. At least it will expose what the real error is underneath the inability to read `error.response.body`.

[2021-06-26 07:05] philnash commented on #225
Did you get any further with this @hughrawlinson?

[2021-06-26 10:19] hughrawlinson commented on #225
I haven't been able to try it unfortunately - my computer is still wrecked and covid restrictions are such that it's not super safe to go to the computer repair place just at the moment. Vaccination soon though I hope!

I'm pretty sure though that if I create a location for the binary to be downloaded to, and then passed that in to ngrok, it would work. I wouldn't be doing more than create a tempo

[2021-07-13 01:35] theaussiepom opened #232 "NgrokClient.requestDetail missing Ngrok namespace in type definition"
When consuming the ngrok package with typescript for Node 14, compiler fails with error:

[code]

Like 217 of ngrok.d.ts should read:
`217     requestDetail(id: string): Promise<Ngrok.Request>;`

[2021-07-13 04:02] theaussiepom commented on #232
See pull request: https://github.com/bubenshchykov/ngrok/pull/233

[2021-07-13 04:09] philnash commented on #232
Thanks for raising and fixing this! I'll get this merged later today.

[2021-07-13 04:12] theaussiepom commented on #232
Awesome, thanks Phil

[2021-07-22 17:16] trickpeeraze opened #236 "Local install failed on Mac when you already have ~/.ngrok as a file"
Check out the logic here

https://github.com/bubenshchykov/ngrok/blob/fd9e6d14080ad6c80d94f40ba09ab5e8711a27a4/download.js#L64-L74

There's a possible error in the case that `dir` is a file. It exists but not a folder. This will raise the exception and goes to the catch block. So, this is my point.

[code]

creates a wrong path related to the current directory so that the script cannot download th

[2021-07-22 21:50] philnash commented on #236
Is that an error that has happened to you? And if so, what were the circumstances?

The line you call out refers to the `bin` directory within the module file structure, which we know to be a directory because the structure is under our control. That is the fallback option because it should always work.

[2021-07-23 09:55] trickpeeraze commented on #236
I first think that it should always work as you said but I'm not sure why it relates to the write permission. I got this kind of error.

[code]

For my case, I have to use _.ngrok_ as a config file because of my company's internal tool.

[2021-07-24 07:09] philnash commented on #236
Ah, ok, I thought you were suggesting that there might be an issue, not that you have indeed experienced an issue and need something to be fixed.

Can I confirm, `~/.ngrok` is a file on your machine? And that is triggering the issue in the download?

[2021-07-24 16:51] trickpeeraze commented on #236
Yes, it's a file on my machine and it triggers the issue in the download. And yes I'm both suggesting and experiencing the issue 😅.

[2021-07-25 06:50] philnash commented on #236
Yep, I see the issue now. Should be fixed by #237.

[2021-07-25 09:06] BvdLind commented on #222
I've answered a question [here on stackoverflow](https://stackoverflow.com/a/68516901/9098350) with someone having the same problem. Problem seems to be that [`got` requires a node version of `15.10.0` or above](https://www.npmjs.com/package/got).

[2021-07-25 09:19] philnash commented on #222
Hey @BvdLind, I don't think this is the issue. Got only requires Node `15.10.0` for HTTP/2 support and Got version 11 [supports Node `>=10.19.0`](https://github.com/sindresorhus/got/blob/v11.8.2/package.json#L10).

[2021-07-25 09:40] BvdLind commented on #222
Okay yeah nevermind. I get the error on node version `14.1.0` and below, but on versions `14.2.0` and above it does work.

I think it at least requires a mention for the time being in the readme, since you would assume from the readme that node version `node>=10.19.0` would work for version `>=4`.

[2021-07-25 09:47] philnash commented on #222
It's interesting that different versions of Node work or don't work for you with this. That's something I can add into trying to find out what is going on here. It really should work for Node 14.2.0, so this is an issue!

[2021-07-25 10:59] YakovL commented on #222
Looks like I'm having the same [issue](https://stackoverflow.com/q/68467866/3995261) (4.0.1 fails @ node 14.1.0 and works @ 15.14.0; I haven't narrowed the version barrier yet). I wonder if node packages may have some field indicating minimal node version that's supported...

[2021-07-25 23:35] philnash commented on #222
OK, downgrading my version of Node to 14.1.0 has lead to some different issues. My tunnel still connects, but this module does not return the URL as expected. Definitely some more to investigate here.

[2021-07-26 00:30] mjog opened #238 "Error downloading binaries on circleci"
Not sure if this is a error here or in `got`, but I'm recently seeing these when installing ngrok in it's postinstall for a project on Circle CI:

[code]

[2021-07-26 04:04] philnash commented on #238
That's a new one. What version of Node is this happening on?

[2021-07-26 06:55] mjog commented on #238
Ah! Thank you for that question - turns out the CCI config handn't been updated and was still using Node 10.

[2021-07-26 06:55] #238 closed

[2021-07-26 08:27] agnibha92 opened #239 "Node MaxListener Issue in Windows"
When using the ngrok tunnel programmatically using the node module.

`console - (node:19464) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 exit listeners added to [process]. Use emitter.setMaxListeners() to increase limit
(Use `node --trace-warnings ...` to show where the warning was created)`

[2021-07-26 08:29] agnibha92 commented on #239
Instead of throwing a proper error, the module is breaking the application. In Linux, also a similar issue is observed whenever multiple applications are trying to open the tunnel.

[2021-07-26 08:35] philnash commented on #239
I think this may be related to #179. Are you opening and killing the ngrok connection multiple times?

Also, this isn't an error, it's a warning. It shouldn't crash or break the application.

[2021-07-26 08:36] philnash commented on #238
Oh, that's not what I expected! But glad it's solved!

[2021-07-26 09:54] agnibha92 commented on #239
This is kind of a memory leak, and we're actually fixing it by improving maxListener to infinity, but this is not a good solution tbh.

[2021-07-26 10:00] agnibha92 commented on #239
Thanks for the crazy fast fix @philnash  :+1:

[2021-07-26 11:01] #239 closed

[2021-07-26 11:02] #236 closed

[2021-07-26 12:18] philnash commented on #232
This is deployed as of version 4.1.0. Thanks!

[2021-07-26 12:18] #232 closed

[2021-07-26 12:19] philnash commented on #236
This has been released as version 4.1.0. Please let me know if it fixes your issues.

[2021-07-27 10:07] trickpeeraze commented on #236
It's solved now. Thank you!

[2021-07-28 09:30] sammachin commented on #209
Hey @philnash Just spotted this issue, might be able to shed some light, are you only seeing it with ngrok >4.0.0 when you moved to got? I don't think this is a squid issue as such it would occur with any proxy.

We saw simialr issues recently in node-red when we moved to got, there's a couple that seem related where we had to get upstream patches, the one  that I think  might be similar is  https

[2021-07-28 12:33] penguine commented on #209
i think so too. it is probably due to the proxy implementation. I've seen this in other projects too, and if the module that sends the transfer via the proxy was changed, then it worked.
i will test with htis new version, thx

[2021-07-28 14:44] penguine commented on #209
great, it works now.
THANK YOU

[2021-07-28 14:44] #209 closed

[2021-07-29 13:34] YakovL commented on #222
PS I've googled [what I've asked about](https://stackoverflow.com/a/29349773/3995261) and it may be it's worth bumping `engines` of the package

[2021-07-30 04:32] philnash commented on #209
Thanks @sammachin. I'll look into increasing the version number of hpagent in the optional dependencies to account for this.

[2021-07-31 04:55] #196 closed

[2021-07-31 04:55] #195 closed

[2021-07-31 05:49] philnash commented on #222
As far as I can tell, this is a [Node bug for versions 14 and 14.1 that affects got](https://github.com/sindresorhus/got/issues/1349). Anything under 14 or 14.2 and over is not affected.

[I have updated](https://github.com/bubenshchykov/ngrok/commit/52a2d9cea15ea2d0664d4b9040ea9dc56a4619ea) the `engines` property in `package.json` to `">=10.19.0 <14 || >=14.2"`.

Can anyone experiencing this plea

[2021-08-04 03:38] PSYASHAS opened #241 "Nodejs installation not working"
npm install ngrok

This is not working
Pls say solution

[2021-08-04 05:22] philnash commented on #241
What isn't working about it? Do you get an error? Please share that error.

[2021-08-04 09:18] pranav-pkasthana opened #242 "ngrok gives 503 error and it does not gets started"
ngrok does not gets started immediately and gives following error
"a successful ngrok tunnel session has not yet been established"

the module checks for error 500 and 502 but no action is taken for 503

adding below code works
const notReady503 = err.statusCode === 503 && body.details && body.details.err === 'a successful ngrok tunnel session has not yet been established';

function isRetriable (

[2021-08-04 09:23] #242 closed

[2021-08-04 09:23] pranav-pkasthana commented on #242
fixed in latest version

[2021-08-06 01:00] theaussiepom opened #243 "When the NGROK process exits unexpectedly, the consumer of the package is not notified"
When the ngrok tunnel closes, the consumer is notified by the "closed" status event. This is the happy path.
When the ngrok process closes unexpectedly, the consumer is not notified, and will be unaware that a tunnel no longer exists.

In process.js, I'm wondering if the following code should be altered from:
[code]
to something like:
[code]

[2021-08-08 23:37] philnash commented on #241
Hey @PSYASHAS, I've not heard back from you. In order to investigate this any further I need more details. I'm going to close this issue for now, but if you can share any more details, like what you have done, what you expected to happen and what actually happened, then please re-open the issue and I can take a look.

[2021-08-08 23:37] #241 closed

[2021-08-11 10:42] wll8 commented on #98
Equinox has issued a service shutdown announcement: https://equinox.io/blog/shutting-down

However, the automatic installation address of npm and the current official download address are still downloaded from equinox.io.

And the following information makes everyone very worried about whether it is possible to update the version from a stable cdn, because there is no way to continue using it with

[2021-08-11 11:04] philnash commented on #98
That is a concern, thanks for bringing it up @wll8. The main ngrok executable is not controlled by this project though, so I will try to contact them to find out what the plan for binary distribution is given this update.

[2021-08-11 11:30] wll8 commented on #98
@philnash

I used this repository in [this project](https://github.com/wll8/mockm/blob/01a458646a711bce8c8456a20ffbccbebe648c91/server/package.json#L48). In fact, like most people, I am very concerned about these two issues:

- Relatively stable cdn, such as npmjs.com (many cdn platforms have copied it)
- Download only the binary files of the current system

Currently I try to run `ngrok update` f

[2021-08-11 11:34] philnash commented on #98
Hi @wll8, I understand the concern too, but I am not responsible for [ngrok](https://ngrok.com) itself.

I have emailed the ngrok team to find out what they plan to do so that this project can be updated too. Hopefully they will get back to me soon so we can all update and keep everything running.

[2021-08-16 00:04] philnash commented on #98
Good news, I have been in touch with the ngrok team and while I don't know all the details, it seems that they will continue to publish to equinox after the shutdown date. Perhaps we will hear more details from ngrok, but the important thing is that nothing has to change in this project.

[2021-08-16 00:11] bubenshchykov commented on #98
@wll8 thanks for reporting, and @philnash thanks for taking care of it. You guys are the best! 🍻

[2021-08-16 01:38] theaussiepom opened #245 "TypeScript: Invalid module name in augmentation"
When utilising in TypeScript, the following build error occurs: TypeScript: Invalid module name in augmentation. The following full request fixes this issue: https://github.com/bubenshchykov/ngrok/pull/244

[2021-08-16 23:23] theaussiepom commented on #243
Solution available in pull request https://github.com/bubenshchykov/ngrok/pull/244

[2021-08-26 12:12] AlexChecker opened #246 "TypeScript: Unexpected token"
when I tries to use ngrok module I catches this error:
[code]
Before this I fixed trouble with fs and child-process packages that are not available in npm, but now I am out of ideas? why i got this error

[2021-09-05 20:13] Zigecek opened #247 "TCP tunnel to 22, error Connection timed out"
Hi, I want to make that everytime the script is executed it just connects 22 to ngrok and save the url to the database, this works, but as I want to connect to the SSH, it says Connection timed out, I tried many different way to connect to it, but everything shows the same error, this is my code:

[code]

[2021-09-06 13:43] philnash commented on #247
Is it ngrok timing out, or the connection to whatever you have running on port 22? Does the ngrok dashboard (localhost:4040) show you anything more about the connection?

[2021-09-12 09:35] Zigecek commented on #247
Sorry for late response, I just find out that my network had disabled some ports.

[2021-09-12 09:35] #247 closed

[2021-09-13 14:03] jamesaduncan opened #248 "Windows 10 process creation appears to need a time delay before attempting to create tunnels"
I am, unfortunately, having to write code on Windows 10 at the moment. When I try to connect() ngrok fails:

`(node:24516) UnhandledPromiseRejectionWarning: NgrokClientError
    at NgrokClient.request (C:\Users\James Duncan\Dev\laddr\node_modules\ngrok\src\client.js:47:23)`

This seems to occur because the web server is not up and listening in time before the post to api/tunnels is fired.

With a

[2021-09-16 00:10] Kamrulhasan12345 commented on #195
I am also facing the same issue with ngrok (npm)

[2021-09-20 07:05] gilesbutler commented on #138
I just had this issue and went into to Ngrok and shutdown the tunnel agent which fixed it for me.

I think this feature is still in beta and you have to request access through your dashboard https://dashboard.ngrok.com/tunnel-agents/sessions

[2021-09-22 10:05] vfonic opened #249 "Does this package install the ngrok tool as well?"
I already have ngrok installed and setup locally so it's difficult to test this.

I'm curious, if I have "ngrok" npm package (this package) in my `package.json` dependencies and I run (on CI or on another machine) `npm install`, will it automatically install the "ngrok" CLI tool as well or I need to first install "ngrok" tool manually and only then I can use this package?

Thanks!

[2021-09-22 10:47] philnash commented on #249
This package will download the ngrok binary as part of its postinstall step. You do not need to install the ngrok binary yourself.

[2021-09-22 12:20] vfonic commented on #249
Awesome! Thanks! 🚀

[2021-09-22 12:20] #249 closed

[2021-09-30 20:03] wluisi opened #250 "Equinox io Certificate Expired"
I'm getting the following error on my CI platform that uses a package that depends on ngrok:

[code]

Tested with curl as well and the certificate appears to have expired
[code]

[2021-09-30 20:12] wluisi commented on #250
Seems like Equinox io shut down this morning? https://equinox.io/ -- are there plans to upgrade ngrok to use another cdn provider?

[2021-09-30 22:13] philnash commented on #250
I got in touch with the ngrok team and they told me that they will be continuing to publish to equinox in some sort of shut down deal. Meanwhile, this repo will have to wait and see what happens.

[2021-10-08 06:12] philnash commented on #250
I wrote to ngrok again myself to see what was going on. Apparently any certificate issues have been down to the Let's Encrypt root expiring on September 30th (and it was coincidence that this was the date Equinox was due to close down). I think this is a good, in depth [explanation of what happened with Let's Encrypt](https://scotthelme.co.uk/lets-encrypt-old-root-expiration/) and why it might hav

[2021-10-10 03:34] philnash commented on #245
#244 was merged, closing this.

[2021-10-10 03:34] #245 closed

[2021-10-14 10:47] philnash commented on #250
Is anyone still having problems with this, or can I close this out?

[2021-10-15 03:44] Collin-St opened #252 "getApi() loses reference to NgrokClient when called in separate module"
When calling `getApi()` from a module separate from where `ngrok.connect()` was called, reference to `NgrokClient` is lost and `getApi()` returns null.

`getApi()` should:
- retain reference to `NgrokClient`, or be able to recreate it
- return a working instance of `NgrokClient` for an ngrok process running outside of the node library

[2021-10-18 10:18] enwi commented on #222
I don't know if this is helpful, but I had a very similar issue, where the status message was `Service Unavailable` (figured that out with #231).

In my case the issue was that I already opened a tunnel with a specified `region` and was trying to open another one for the same region. Using a different region for the second tunnel it worked without throwing an error.

[2021-10-26 23:35] n0bisuke opened #254 "Doesn't work with Node.js v17.0.1"
[code]

Is there anyone with a similar phenomenon?

Here is a memo for myself.

[2021-11-01 19:11] nsainaney commented on #254
@philnash - just submitted a PR for this. Would appreciate it if it could get reviewed, merged, and published. Thank you

[2021-11-02 23:17] nsainaney commented on #254
Between the PR and https://github.com/nodejs/node/issues/40702, I have tested the package on Node 17 and everything seems to work now

[2021-11-03 01:13] BigZ opened #256 "uuid < 7 is deprecated for security reasons"
we should upgrade uuid dependency to >= 7
Older versions may use Math.random() in certain circumstances, which is known to be problematic.  See https://v8.dev/blog/math-random for details.
if you agree, i can provide the PR
thanks for the great work on ngrok folks

[2021-11-03 01:44] philnash commented on #256
UUID is only used to [generate a random name for a tunnel](https://github.com/bubenshchykov/ngrok/blob/7e225cb7e79a8311bb65f16a3a2f3017c4600b14/index.js#L27). The name allows you to refer to the tunnel in further API requests to the internal API.

So, even if it is not as random as it needs to be for security purposes, I don't believe that makes it a security concern for this package.

However, I

[2021-11-03 01:48] philnash commented on #254
Hey @nsainaney, sorry I haven't got to the PR yet. What is the relevance of nodejs/node#40702 to this though? I'm not sure I see a connection.

[2021-11-03 01:59] nsainaney commented on #254
@philnash, we were using an axios based client that was initialized with `http://localhost:4040/`. You are not doing that so the nodejs is not relevant to your repo. You can disregard my comment. Sorry for any confusion.

[2021-11-03 02:00] philnash commented on #254
Ha, ok. I'll get to the PR review later. Thanks!

[2021-12-06 01:50] subhanahmed047 opened #258 "Passing a custom hostname while creating the ngrok instance programatically"
I'm trying to create a ngrok instance with a custom hostname, but It looks like the ngrok options object doesn't accept the hostname, so how do we create an instance that is using our custom domain rather than default ngrok.io?

Here is how I'm doing it:
[code]

[2021-12-06 09:06] philnash commented on #258
What happens when you try to set up the tunnel like that? Is there an error?

[2021-12-06 15:44] mquinnv commented on #258
can confirm that hostname works for the whitelabel/CNAME option. just leave off subdomain

[2021-12-06 22:32] subhanahmed047 commented on #258
running the following piece of code:
[code]

I get the following error:
[code]

I raised the issue because I also noticed that the types for `Ngrok.Options` object doesn't contain a hostname property either.

[2021-12-06 22:39] philnash commented on #258
Thanks  @subhanahmed047, I'll take a look.

[2021-12-07 08:38] johnlindquist commented on #254
I just ran into this issue as well. Have you had a chance to look into the PR?

[2021-12-07 14:38] mquinnv commented on #258
my code that works in webpack devServer onListening is:

[code]
where hostname is my exact entry in ngrok of the form  host.domain.net

[2021-12-08 04:42] subhanahmed047 opened #259 "Checking if an account is free or paid"
Is there a way to determine programmatically if an account is paid or free?

We're using ngrok js client API to start tunnels with our custom domains ( a feature that is only present for paid accounts), but we would like to add a fallback for someone who doesn't have a paid account and still want to use the app feature. Is there any way we could check the status of an account? via CLI, or js clien